<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Agregar Plantilla </nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="glosa_plantilla" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_plantilla" required
                                    id="glosa_plantilla" placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_plantilla.errors && form.controls.glosa_plantilla.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_tipo" class="col-sm-6 col-form-label">Tipo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" (change)="cambio_tipo()" formControlName="id_tipo" required
                                    id="id_tipo">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let tipo of tipos" [(value)]="tipo.id">{{tipo.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="form.controls.id_tipo.errors && form.controls.id_tipo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="para" class="col-sm-6 col-form-label">Para <span
                                    class="text-danger">*</span></label>

                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="para" required id="para"
                                    placeholder="Para">
                            </div>
                            <small class="form-text">Para separar cuentas de correos y/o tags utilizar "," o
                                ";".</small>
                        </div>
                        <div *ngIf="form.controls.para.errors && form.controls.para.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="copia" class="col-sm-6 col-form-label">Copia </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="copia" id="copia"
                                    placeholder="Copia">
                            </div>
                            <small class="form-text">Para separar cuentas de correos y/o tags utilizar "," o
                                ";".</small>
                        </div>
                        <div *ngIf="form.controls.copia.errors && form.controls.copia.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="asunto" class="col-sm-6 col-form-label">Asunto <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="asunto" required id="asunto"
                                    placeholder="Asunto">
                            </div>
                        </div>
                        <div *ngIf="form.controls.asunto.errors && form.controls.asunto.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="form.controls.activo.errors && form.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row col col-md-12">
                            <div class="col col-md-8">
                                <ckeditor [config]="editor_config" [(ngModel)]="editor_model"
                                    [ngModelOptions]="{standalone: true}"></ckeditor>
                            </div>
                            <div class="col col-md-4">
                                <h5>Tags</h5>
                                <span *ngIf="tags.length<=0">Seleccione tipo para desplegar tags disponibles</span>
                                <hr>
                                <div class="row" *ngFor="let tag of tags">
                                    <!-- <a class="text-info" (click)="copy_tag('[['+tag.glosa_tag+']]')" title="Copiar Tag"><i class="fa fa-copy" aria-hidden="true"></i> -- </a> -->
                                    [[{{tag.glosa_tag}}]]
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <!--       <div class="col-md-3">
          <nb-card>
              <nb-card-header>Tags</nb-card-header>
              <nb-card-body>
                  <table>
                      <thead>
                          <tr *ngFor="let tag of tags" >
                              <th>[[{{tag}}]]</th>
                              <th><button class="btn " nbButton size="small" (click)="copy(tag)"><i class="fa fa-clipboard"></i></button></th>
                          </tr>
                      </thead>
                  </table> 
                  <div class="row" *ngFor="let tag of tags" >[[{{tag.glosa_tag}}]]</div>
              </nb-card-body>
          </nb-card>
      </div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>