<div>
    <div class="row">
        <div class="col-md-12 col-xxxl-12">
            <nb-card size="large">
                <nb-card-header>Agregar Bloques Horarios</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formHorario">
                        <div class="form-group row">
                            <label for="id_sucursal" class="col-sm-4 col-form-label">{{etiquetas.sucursal}} <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-8">
                                <div class="input-group input-group-sm col-sm-8">
                                    <select class="form-control" (change)="cambio_sucursal()"
                                        formControlName="id_sucursal" required id="id_sucursal">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let obj of sucursales" [value]="obj.id">{{obj.glosa}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formHorario.controls.id_sucursal.errors && formHorario.controls.id_sucursal.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_ejecutivo" class="col-sm-4 col-form-label">Ejecutivo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-8">
                                <div class="input-group input-group-sm col-sm-8">
                                    <select class="form-control" formControlName="id_ejecutivo" required
                                        id="id_ejecutivo">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let obj of ejecutivos" [value]="obj.id">{{obj.glosa}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formHorario.controls.id_ejecutivo.errors && formHorario.controls.id_ejecutivo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="fecha" class="col-sm-4 col-form-label">Fecha <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-8">
                                <div class="input-group input-group-sm col-sm-8">
                                    <input class="form-control" (ngModelChange)="change_fecha($event)"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha" [minDate]="min"
                                        placeholder="yyyy-mm-dd" [autoClose]="true" name="fecha" readonly ngbDatepicker
                                        #d_picker="ngbDatepicker" placement="bottom">
                                    <div class="input-group-append">
                                        <button nbButton size="medium" status="info" (click)="d_picker.toggle()"
                                            type="button"><i class="far fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formHorario.controls.fecha.errors && formHorario.controls.fecha.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="bloque" class="col-sm-4 col-form-label">Bloque <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-8">
                                <div class="input-group input-group-sm col-sm-8">
                                    <input type="text" class="form-control" formControlName="bloque" required
                                        id="bloque" placeholder="(10:30-11:00)">-
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formHorario.controls.bloque.errors && formHorario.controls.bloque.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                    <!-- <hr> -->
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!formHorario.valid"
                            (click)="submit()" type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>