<h4>Agregar Cotizacion</h4>
<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Datos Prospecto</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formProspecto">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="rut">Rut <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="rut" required id="rut"
                                        placeholder="Rut">
                                </div>
                                <div *ngIf="formProspecto.controls.rut.errors && formProspecto.controls.rut.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="nombre">Nombre <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nombre" required
                                        id="nombre" placeholder="Nombre">
                                </div>
                                <div *ngIf="formProspecto.controls.nombre.errors && formProspecto.controls.nombre.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="apellido_paterno">Apellido Paterno <span
                                            class="text-danger">*</span></label>
                                    <div>
                                        <input type="text" class="form-control" formControlName="apellido_paterno"
                                            required id="apellido_paterno" placeholder="Apellido Paterno">
                                    </div>
                                </div>
                                <div *ngIf="formProspecto.controls.apellido_paterno.errors && formProspecto.controls.apellido_paterno.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="apellido_materno">Apellido Materno</label>
                                    <input type="text" class="form-control" formControlName="apellido_materno"
                                        id="apellido_materno" placeholder="Apellido Materno">
                                </div>
                                <div *ngIf="formProspecto.controls.apellido_materno.errors && formProspecto.controls.apellido_materno.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_region">Región</label>
                                    <select class="form-control" formControlName="id_region"
                                        (change)="cambiar_region_prospecto()" id="id_region">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let reg of regiones_prospectos" [(value)]="reg.id">{{reg.glosa}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_comuna">Comuna</label>
                                    <select class="form-control" formControlName="id_comuna" id="id_comuna">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let com of comunas_prospectos" [(value)]="com.id">{{com.glosa}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" formControlName="direccion" id="direccion"
                                        placeholder="Dirección">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono_prospecto">Teléfonos</label>
                                    <button nbButton status="info" size="small" (click)="agregar_telefono()">
                                        <i class="fa fa-plus"></i></button>
                                </div>
                                <div class="form-group" *ngFor="let phone of telefonos_prospecto; let $index = index">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" required id="telefono_prospecto"
                                                (change)="cambio_telefono()" [ngModelOptions]="{standalone: true}"
                                                name="phone_{{$index}}" [(ngModel)]="phone.glosa"
                                                placeholder="Teléfono">
                                            <span class="input-group-btn">
                                                <button nbButton status="danger" size="small"
                                                    (click)="anular_telefono(phone,$index)" title="Anular">
                                                    <i class="fa fa-ban"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email_prospecto">Email</label>
                                    <button nbButton status="info" size="small" (click)="agregar_email()">
                                        <i class="fa fa-plus"></i></button>
                                </div>
                                <div class="form-group" *ngFor="let email of emails_prospecto; let $index = index">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm">
                                            <input type="email" class="form-control" email [(ngModel)]="email.glosa"
                                                [ngModelOptions]="{standalone: true}" (change)="cambio_email()"
                                                name="email_{{$index}}" required id="email_prospecto"
                                                placeholder="Email">
                                            <span class="input-group-btn">
                                                <button nbButton status="danger" size="small"
                                                    (click)="anular_email(email, $index)" title="Anular">
                                                    <i class="fa fa-ban"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3" *ngFor="let campo of camposvariables">
                                <div class="form-group">
                                    <label
                                        for="{{campo.campo.identificador}}">{{campo.campo.glosa_campovariable}}</label>
                                    <div class="input-group input-group-sm" *ngIf="campo.campo.tipo=='A'">
                                        <input type="text" class="form-control input-sm"
                                            formControlName="{{campo.campo.identificador}}"
                                            id="{{campo.campo.identificador}}"
                                            placeholder="{{campo.campo.glosa_campovariable}}">
                                    </div>
                                    <div class="input-group input-group-sm" *ngIf="campo.campo.tipo=='C'">
                                        <select class="form-control input-sm"
                                            formControlName="{{campo.campo.identificador}}"
                                            id="{{campo.campo.identificador}}">
                                            <option value="">Seleccione</option>
                                            <option *ngFor="let reg of campo.lista" [(value)]="reg.id_valor_variable">
                                                {{reg.glosa_valor_variable}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Datos Cotización</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formCotizacion">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_campania">Campaña <span class="text-danger">*</span></label>
                                    <select class="form-control" id="id_campania" formControlName="id_campania">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let campania of campanias" [(value)]="campania.id">
                                            {{campania.glosa}}</option>
                                    </select>
                                </div>
                                <div *ngIf="formCotizacion.controls.id_campania.errors && formCotizacion.controls.id_campania.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_origen">Origen <span class="text-danger">*</span></label>
                                    <select class="form-control" id="id_origen" formControlName="id_origen">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let origen of origenes" [(value)]="origen.id">{{origen.glosa}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="formCotizacion.controls.id_origen.errors && formCotizacion.controls.id_origen.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_item">{{etiquetas.item}} <span class="text-danger">*</span></label>
                                    <select class="form-control" id="id_item" formControlName="id_item">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let item of items" [(value)]="item.id">{{item.glosa}}</option>
                                    </select>
                                </div>
                                <div *ngIf="formCotizacion.controls.id_item.errors && formCotizacion.controls.id_item.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_region">Región</label>
                                    <select class="form-control" id="id_region" (change)="cambiar_region()"
                                        formControlName="id_region">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let region of regiones" [(value)]="region.id">{{region.glosa}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_comuna">Comuna</label>
                                    <select class="form-control" id="id_comuna" (change)="cambiar_comuna()"
                                        formControlName="id_comuna">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let comuna of comunas" [(value)]="comuna.id">{{comuna.glosa}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_sucursal">{{etiquetas.sucursal}}</label>
                                    <select class="form-control" id="id_sucursal" formControlName="id_sucursal">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let sucursal of sucursales" [(value)]="sucursal.id">
                                            {{sucursal.glosa}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="comentario">Comentario <span class="text-danger">*</span></label>
                                    <textarea rows="2" placeholder="Comentario" formControlName="comentario"
                                        class="form-control"></textarea>
                                </div>
                                <div *ngIf="formCotizacion.controls.comentario.errors && formCotizacion.controls.comentario.dirty"
                                    class="form-group row alert alert-danger">
                                    <label for=""></label>
                                    <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium"
                            [disabled]="!formCotizacion.valid || !formProspecto.valid"
                            (click)="submit()">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>