<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>Seleccione el cliente con el cual trabajar:</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6" *ngFor="let cl of clientes">
                        <a (click)="elegir_cliente(cl)">
                            <nb-card>
                                <nb-card-header>{{cl.glosa_cliente}}
                                    <span>({{cl.codigo}})</span>
                                </nb-card-header>
                                <nb-card-body>
                                    <div class="row"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                        <img src="{{cl.imagen}}" alt="{{cl.codigo}}">
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </a>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>