<style type="text/css">
    .blink {
        /* border: solid 2px darkred; */
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0% {
            color: black;
            background-color: white;
        }

        25% {
            color: black;
            background-color: white;
        }

        50% {
            color: black;
            background-color: white;
        }

        75% {
            color: white;
            background-color: black;
        }

        100% {
            color: white;
            background-color: black;
        }
    }
</style>
<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    Cotizacion ID: {{id_cotizacion}}
                    <button status="warning" nbButton size="small" *ngIf="duplicadas.length>0"
                        (click)="showDuplicadas()">Otras Cotizaciones</button>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Origen o canal</h6>
                            <p>{{cotizacion.glosa_origen}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Campaña</h6>
                            <p>{{cotizacion.glosa_campania}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>{{etiquetas.item}} Cotizacion</h6>
                            <p>{{cotizacion.glosa_item}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>{{etiquetas.item}} Cotizacion Origen</h6>
                            <p>{{cotizacion.glosa_item_origen}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Comentario Prospecto</h6>
                            <p>{{cotizacion.comentario_cotizacion}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>{{etiquetas.sucursal}}</h6>
                            <p>{{cotizacion.glosa_sucursal}}</p>
                        </div>
                        <div class="col-md-3">
                            <!-- <h6>Ver Gestiones</h6> -->
                            <button nbButton size="small" status="primary" (click)="showGestiones()">Ver Gestiones
                            </button>
                        </div>
                        <div class="col-md-3" *ngIf="cotizacion.notificacion!='' && cotizacion.notificacion!=null">
                            <h6 class="blink">Notificación</h6>
                            <p>{{cotizacion.notificacion}}</p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header>Datos Gestion</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formGestion">
                        <div class="form-group row">
                            <label for="origen" class="col-sm-4 col-form-label">Origen
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" focusable formControlName="id_origen" required
                                    id="id_origen">
                                    <option selected value="">Seleccione</option>
                                    <option *ngFor="let origen of origenes" [(value)]="origen.id">{{origen.glosa}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_origen.errors && formGestion.controls.id_origen.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_item" class="col-sm-4 col-form-label">{{etiquetas.item}}
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" focusable formControlName="id_item" required
                                    id="id_item">
                                    <option selected value="">Seleccione</option>
                                    <option *ngFor="let item of items" [(value)]="item.id">{{item.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_item.errors && formGestion.controls.id_item.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row">
                            <label for="estado_actual" class="col-sm-4 col-form-label">Estado Actual</label>
                            <div class="input-group input-group-sm col-sm-8">
                                <input type="text" class="form-control input-sm" name="estado_actual" id="estado_actual"
                                    readonly="readonly" value="{{cotizacion.glosa_estado}}" placeholder="Estado Actual">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="cotizacion.id_estado == 5">
                            <label for="id_visita" class="col-sm-4 col-form-label">Confirma Visita</label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_visita" required
                                    id="id_visita">
                                    <option selected value="">Seleccione</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                    <option value="3">Sin Contacto</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="cotizacion.id_estado == 6">
                            <label for="id_recordatorio" class="col-sm-4 col-form-label">Confirma Agendamiento</label>
                            <div class="input-group input-group-sm col-sm-8">
                                <div class="col-sm-8">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" id="id_recordatorio" class="input-sm" value="1"
                                            (change)="cambio_recordatorio()" required formControlName="id_recordatorio">

                                        <span class="custom-control-description">Si</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" id="id_recordatorio" class="input-sm" value="2"
                                            (change)="cambio_agendar()" required formControlName="id_recordatorio">

                                        <span class="custom-control-description">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="id_estado" class="col-sm-4 col-form-label">Información Entregada
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <nb-checkbox *ngIf="cotizacion.informacion_entregada==null" [(ngModel)]="info_entregada"
                                    (change)="asesorado()" name="info_entregada" [ngModelOptions]="{standalone: true}"
                                    status="success"></nb-checkbox>
                                <label *ngIf="cotizacion.informacion_entregada!=null" for="id_estado"
                                    class="col-form-label">{{getDate(cotizacion.informacion_entregada, 'DD-MM-YYYY HH:mm')}}</label>
                            </div>
                        </div>
                        <div class="form-group row"
                            *ngIf="(cotizacion.id_estado == 5 && formGestion.value.id_visita!='' && formGestion.value.id_visita!=3) || (cotizacion.id_estado==6 && formGestion.value.id_recordatorio==2) || cotizacion.id_estado==1 || cotizacion.id_estado==2 || cotizacion.id_estado==3 || cotizacion.id_estado==7|| cotizacion.id_estado==14 || cotizacion.id_estado==17 || cotizacion.id_estado==19 ">
                            <label for="id_estado" class="col-sm-4 col-form-label">Nuevo Estado
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_estado"
                                    [disabled]="user.id_perfil==4" id="id_estado">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let est of estados" [(value)]="est.id">{{est.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_estado.errors && formGestion.controls.id_estado.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado==4 || formGestion.value.id_estado==14">
                            <label for="id_region" class="col-sm-4 col-form-label">Región {{etiquetas.sucursal}}
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_region" required
                                    (change)="cambio_region_cot()" id="id_region">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of regiones" [(value)]="reg.id">{{reg.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_region.errors && formGestion.controls.id_region.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado==4 || formGestion.value.id_estado==14">
                            <label for="id_comuna" class="col-sm-4 col-form-label">Comuna {{etiquetas.sucursal}}
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_comuna" required
                                    (change)="cambio_comuna_cot()" id="id_comuna">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let comuna of comunas" [(value)]="comuna.id">{{comuna.glosa}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_comuna.errors && formGestion.controls.id_comuna.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado==4 || formGestion.value.id_estado==14">
                            <label for="id_sucursal" class="col-sm-4 col-form-label">{{etiquetas.sucursal}}
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_sucursal" required
                                    (change)="cambio_sucursal()" id="id_sucursal">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let suc of sucursales" [(value)]="suc.id">{{suc.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_sucursal.errors && formGestion.controls.id_sucursal.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado==14 && formGestion.value.id_sucursal>0">
                            <label for="id_ejecutivo" class="col-sm-4 col-form-label">Ejecutivo
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_ejecutivo" required
                                    id="id_ejecutivo">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let eje of ejecutivos" [(value)]="eje.id_ejecutivo">
                                        {{eje.nombre_completo}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_ejecutivo.errors && formGestion.controls.id_ejecutivo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row" *ngIf="formGestion.value.id_estado == 14">
                            <label for="fecha_agendamiento_visita" class="col-sm-4 col-form-label">Fecha Visita
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8 input-group">
                                <input class="form-control" (ngModelChange)="change_fecha_visita($event)"
                                    [(ngModel)]="fecha_agendamiento_visita" [ngModelOptions]="{standalone: true}"
                                    placeholder="Fecha Agendamiento" [maxDate]="max_hoy" [autoClose]="true"
                                    name="fecha_agendamiento_visita" readonly ngbDatepicker #d_picker="ngbDatepicker"
                                    placement="bottom">
                                <div class="input-group-append">
                                    <button nbButton size="small" status="info" (click)="d_picker.toggle()"
                                        type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="formGestion.value.id_estado == 9">
                            <label for="fecha_ultima_compra" class="col-sm-4 col-form-label">Fecha {{etiquetas.compro}}
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8 input-group">
                                <input class="form-control" (ngModelChange)="change_fecha_ultima_compra($event)"
                                    [(ngModel)]="fecha_ultima_compra" [ngModelOptions]="{standalone: true}"
                                    placeholder="Fecha Compra" [maxDate]="max_hoy" [autoClose]="true"
                                    name="fecha_ultima_compra" readonly ngbDatepicker #d_compra="ngbDatepicker"
                                    placement="bottom">
                                <div class="input-group-append">
                                    <button nbButton size="small" status="info" (click)="d_compra.toggle()"
                                        type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="formGestion.value.id_estado == 17">
                            <label for="fecha_reserva" class="col-sm-4 col-form-label">Fecha Reserva
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8 input-group">
                                <input class="form-control" (ngModelChange)="change_fecha_reserva($event)"
                                    [(ngModel)]="fecha_reserva" [ngModelOptions]="{standalone: true}"
                                    placeholder="Fecha Reserva" [maxDate]="max_hoy" [autoClose]="true"
                                    name="fecha_reserva" readonly ngbDatepicker #d_reserva="ngbDatepicker"
                                    placement="bottom">
                                <div class="input-group-append">
                                    <button nbButton size="small" status="info" (click)="d_reserva.toggle()"
                                        type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado==4 && formGestion.value.id_sucursal>0">
                            <label for="id_sucursal" class="col-sm-4 col-form-label">Agendar
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="input-group input-group-sm col-sm-8">
                                <input *ngIf="formGestion.value.fecha_agendamiento_visita!=''" type="text"
                                    class="form-control input-sm" readonly="readonly"
                                    value="{{nombre_ejecutivo}} - ({{getDate(formGestion.value.fecha_agendamiento_visita, 'DD-MM HH:mm')}})">
                                <button *ngIf="formGestion.value.fecha_agendamiento_visita!=''" status="warning"
                                    nbButton size="small" (click)="showBloques()">Cambiar</button>
                                <button *ngIf="formGestion.value.fecha_agendamiento_visita==''" nbButton size="small"
                                    status="primary" [disabled]="user.id_perfil == 4"
                                    (click)="showBloques()">Bloques</button>

                            </div>
                        </div>
                        <!-- Agendamiento -->
                        <!-- Compro -->
                        <ng-container *ngIf="formGestion.value.id_estado == 9">
                            <div class="form-group row" *ngFor="let reg of compro; let $index = index">
                                <label class="control-label col-sm-4">Motivo - {{etiquetas.compro}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="form_compro[$index]" name="id_compro[$index]"
                                        (change)="cambio_compro($index)" required>
                                        <option value="">Selecciona</option>
                                        <option *ngFor="let obj of reg" [(value)]="obj.id">{{obj.glosa}}</option>
                                    </select>
                                </div>
                            </div>
                        </ng-container>
                        <div *ngIf="formGestion.controls.id_compro.errors && formGestion.controls.id_compro.dirty"
                            class="form-group row alert alert-danger">
                            <label for="id_compro" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <!-- Compro -->
                        <!-- Motivos -->
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado == 7 || formGestion.value.id_estado == 10 || formGestion.value.id_estado == 12 || formGestion.value.id_estado == 13 || formGestion.value.id_estado == 15">
                            <label for="id_motivo" class="col-sm-4 col-form-label">Motivo<span
                                    class="text text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-8">
                                <select class="form-control input-sm" formControlName="id_motivo" required
                                    id="id_motivo">
                                    <option selected="selected" value="">Seleccione</option>
                                    <option *ngFor="let mot of motivos" [(value)]="mot.id">{{mot.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.id_motivo.errors && formGestion.controls.id_motivo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row" *ngIf="formGestion.value.id_estado == 15">
                            <label for="generar_cotizacion" class="col-sm-6 col-form-label">Generar Cotización <span
                                    class="text-danger"></span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="generar_cotizacion" status="success" class="col-sm-4">
                                </nb-checkbox>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="comentario_gestion" class="col-sm-4 col-form-label">Comentario Llamada</label>
                            <div class="col-sm-8">
                                <textarea rows="2" placeholder="Comentario Llamada" formControlName="comentario"
                                    class="form-control input-sm"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="antecedentes" class="col-sm-4 col-form-label">Antecedentes Vendedor
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <textarea required rows="5" placeholder="Antecedentes Vendedor" required
                                    formControlName="antecedentes" class="form-control input-sm"></textarea>
                            </div>
                        </div>
                        <div *ngIf="formGestion.controls.antecedentes.errors && formGestion.controls.antecedentes.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-4 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado == 4  || formGestion.value.id_estado == 8 || formGestion.value.id_estado == 9 || formGestion.value.id_estado == 10 || formGestion.value.id_estado == 11 || formGestion.value.id_estado == 12 || formGestion.value.id_estado == 13 || formGestion.value.id_estado ==14 || formGestion.value.id_estado == 15 || formGestion.value.id_estado == 16 || formGestion.value.id_estado == 18 || (cotizacion.id_estado==6 && formGestion.value.id_estado==5)">
                            <label for="agendar" class="col-sm-4 col-form-label">Nueva Llamada
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <label class="custom-control custom-radio">
                                    <input type="radio" id="agendar" class="input-sm" value="no_agendar"
                                        (change)="cambio_agendar()" required="required" formControlName="agendar">

                                    <span class="custom-control-description">No Llamar</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formGestion.value.id_estado == 2 || formGestion.value.id_estado == 3 || formGestion.value.id_estado == 7 || formGestion.value.id_estado == 17 || formGestion.value.id_estado == 19  || (cotizacion.id_estado==5 && formGestion.value.id_visita==3)">
                            <label for="agendar" class="col-sm-4 col-form-label">Nueva Llamada
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <label class="custom-control custom-radio">
                                    <input type="radio" id="agendar" class="input-sm" value="en_30_min"
                                        (change)="cambio_agendar()" required formControlName="agendar">

                                    <span class="custom-control-description">En 30 Min.</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" id="agendar" class="input-sm" value="en_una_hora"
                                        (change)="cambio_agendar()" required formControlName="agendar">

                                    <span class="custom-control-description">En una hora</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" id="agendar" class="input-sm" value="mañana"
                                        (change)="cambio_agendar()" required formControlName="agendar">

                                    <span class="custom-control-description">Mañana</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" id="agendar" class="input-sm" value="personalizado"
                                        (change)="cambio_agendar()" required formControlName="agendar">

                                    <span class="custom-control-description">Personalizado</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="formGestion.value.agendar == 'personalizado'">
                            <label for="agendar" class="col-sm-4 col-form-label">Fecha Agendamiento
                                <span class="text text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="row input-group">
                                    <input class="form-control" (ngModelChange)="change_fecha_agendamiento($event)"
                                        [(ngModel)]="fecha_agendamiento" [ngModelOptions]="{standalone: true}"
                                        placeholder="Fecha Agendamiento" [minDate]="max_hoy" [autoClose]="true"
                                        name="fecha_agendamiento" readonly ngbDatepicker #d_agenda="ngbDatepicker"
                                        placement="bottom">
                                    <div class="input-group-append">
                                        <button nbButton size="small" status="info" (click)="d_agenda.toggle()"
                                            type="button"><i class="far fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="fecha_agendamiento">
                                    <ngb-timepicker [(ngModel)]="hora_agenda" [seconds]="false" [hourStep]="1"
                                        [minuteStep]="30" [ngModelOptions]="{standalone: true}"
                                        (ngModelChange)="cambio_hora_agenda($event)"></ngb-timepicker>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="id_medio_contacto" class="col-sm-4 col-form-label">Medio de Contacto <span
                                    class="text text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control input-sm" formControlName="id_medio_contacto"
                                    id="id_medio_contacto">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let mc of medios_contacto" [(value)]="mc.id">{{mc.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <!-- formProspecto -->
        <div class="col-md-6">
            <nb-card>
                <nb-card-header>Datos Prospecto</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formProspecto">
                        <div class="form-group row">
                            <label for="rut" class="col-sm-4 col-form-label">Rut<span
                                    class="text text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" required formControlName="rut" id="rut"
                                    placeholder="Rut">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nombre_prospecto" class="col-sm-4 col-form-label">Nombre<span
                                    class="text text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" required formControlName="nombre"
                                    id="nombre_prospecto" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_paterno" class="col-sm-4 col-form-label">Apellido Paterno<span
                                    class="text text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" required
                                    formControlName="apellido_paterno" id="apellido_paterno"
                                    placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_materno" class="col-sm-4 col-form-label">Apellido Materno</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" formControlName="apellido_materno"
                                    id="apellido_materno" placeholder="Apellido Materno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_region" class="col-sm-4 col-form-label">Región</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control input-sm" (change)="cambio_region_prospecto()"
                                    formControlName="id_region" id="id_region">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of regiones_prospecto" [(value)]="reg.id">{{reg.glosa}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_comuna" class="col-sm-4 col-form-label">Comuna</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control input-sm" formControlName="id_comuna" id="id_comuna">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let com of comunas_prospecto" [(value)]="com.id">{{com.glosa}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="direccion_prospecto" class="col-sm-4 col-form-label">Dirección</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" formControlName="direccion"
                                    id="direccion_prospecto" placeholder="Dirección">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label for="ingreso_mensual" class="col-sm-4 col-form-label">Ingreso Mensual</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control input-sm" formControlName="ingreso_mensual" id="ingreso_mensual"
                                    placeholder="Ingreso Mensual">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="telefono_prospecto" class="col-sm-4 col-form-label">Teléfonos<span
                                    class="text text-danger">*</span></label>
                            <div class="col-sm-8">
                                <button status="info" nbButton size="small" (click)="agregar_telefono()">
                                    <i class="fa fa-plus"></i> Telefono</button>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let phone of telefonos_prospecto; let $index = index">
                            <label for="telefono_prospecto" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control input-sm"
                                        [ngModelOptions]="{standalone: true}" (change)="cambio_telefono()"
                                        [readonly]="phone.activo==0" required id="telefono_prospecto"
                                        name="phone_{{$index}}" [(ngModel)]="phone.glosa" placeholder="Teléfono">
                                    <span class="input-group-btn">
                                        <button status="danger" nbButton size="small" *ngIf="phone.activo==1"
                                            (click)="anular_telefono(phone,$index)" title="Anular">
                                            <i class="fa fa-ban"></i>
                                        </button>
                                        <button status="success" nbButton size="small" *ngIf="phone.activo==0"
                                            (click)="activar_telefono(phone,$index)" title="Habilitar">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email_prospecto" class="col-sm-4 col-form-label">Email<span
                                    class="text text-danger">*</span></label>
                            <div class="col-sm-8">
                                <button status="info" nbButton size="small" (click)="agregar_email()">
                                    <i class="fa fa-plus"></i> Email</button>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let email of emails_prospecto; let $index = index">
                            <label for="email_prospecto" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="email" email class="form-control input-sm"
                                        [ngModelOptions]="{standalone: true}" (change)="cambio_email()"
                                        [readonly]="email.activo==0" [(ngModel)]="email.glosa" name="email_{{$index}}"
                                        required id="email_prospecto" placeholder="Email">
                                    <span class="input-group-btn">
                                        <button status="danger" nbButton size="small" *ngIf="email.activo==1"
                                            (click)="anular_email(email, $index)" title="Anular">
                                            <i class="fa fa-ban"></i>
                                        </button>
                                        <button status="success" nbButton size="small" *ngIf="email.activo==0"
                                            (click)="activar_email(email, $index)" title="Habilitar">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let campo of camposvariables">
                            <label for="{{campo.campo.identificador}}"
                                class="col-sm-4 col-form-label">{{campo.campo.glosa_campovariable}}</label>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='A'">
                                <input type="text" class="form-control input-sm"
                                    formControlName="{{campo.campo.identificador}}" id="{{campo.campo.identificador}}"
                                    placeholder="{{campo.campo.glosa_campovariable}}">
                            </div>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='C'">
                                <select class="form-control input-sm" formControlName="{{campo.campo.identificador}}"
                                    id="{{campo.campo.identificador}}">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of campo.lista" [(value)]="reg.id_valor_variable">
                                        {{reg.glosa_valor_variable}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <hr>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" *ngIf="formGestion.value.id_estado!=14"
                            [disabled]="!formGestion.valid || btnDisabled || !formProspecto.valid  || formGestion.value.id_estado == 14"
                            (click)="submit()" type="submit">Guardar</button>
                        <button nbButton status="success" size="medium"
                            *ngIf="(formGestion.value.id_estado==2 || formGestion.value.id_estado==3 || formGestion.value.id_estado==7 || formGestion.value.id_estado==14 || formGestion.value.id_estado==17)"
                            [disabled]="!formGestion.valid || btnDisabled || !formProspecto.valid" (click)="continuar()"
                            type="button">Guardar y Continuar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>