<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Perfiles</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar_permisos(obj)" title="Editar Permisos"
                                                *ngIf="accion.id_accion==13"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" (click)="editar_acciones(obj)" title="Editar Acciones"
                                                *ngIf="accion.id_accion==14"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <a class="text-primary" (click)="ordenar(obj, lista)" title="Ordenar"
                                                *ngIf="accion.id_accion==15 && lista.length>1"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.id_perfil}}</td>
                                    <td>{{obj.glosa_perfil}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>