<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Permisos</nb-card-header>
                <nb-card-body>
                    <ng-container *ngFor="let mod of modulos">
                        <div class="form-group row">
                            <h5><i class="{{mod.icono_modulo}}"></i>{{mod.modulo}}</h5>
                            <div class="row col-md-12">
                                <div class="col-md-3" *ngFor="let per of mod.permisos">
                                    <nb-checkbox status="success"
                                        *ngIf="per.id_permiso!=5 && per.id_permiso!=6 && per.id_permiso!=10"
                                        [(ngModel)]="per.activo">{{per.titulo}}</nb-checkbox>
                                    <nb-checkbox status="success" *ngIf="per.id_permiso==5" [(ngModel)]="per.activo">
                                        {{etiquetas.sucursal}}</nb-checkbox>
                                    <nb-checkbox status="success" *ngIf="per.id_permiso==6" [(ngModel)]="per.activo">
                                        {{etiquetas.item}}</nb-checkbox>
                                    <nb-checkbox status="success" *ngIf="per.id_permiso==10" [(ngModel)]="per.activo">
                                        {{etiquetas.compro}}</nb-checkbox>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </ng-container>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>