<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Filtros</nb-card-header>
                <nb-card-body>
                    <form #formFiltros="ngForm" class="form-horizontal" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.rut" name="rut"
                                    placeholder="Rut" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.nombre"
                                    name="nombre" placeholder="Nombre" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.apellidos"
                                    name="apellido" placeholder="Apellido" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.emails"
                                    name="emails" placeholder="Email" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.telefonos"
                                    name="telefonos" placeholder="Telefono" />
                            </div>
                        </div>
                        <br>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button nbButton status="success" size="small" type="submit">Buscar</button>
                                <button nbButton size="small" (click)="limpiar_filtros()">Limpiar Filtro</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>Propectos</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{prospectos.length}} de {{cantidad}} registro(s) encontrados.</span><button
                            status="success" nbButton size="small" type="button" (click)="agregar()"><i
                                class="fa fa-plus"></i> Prospecto</button>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Rut</th>
                                <th>Nombre Completo</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>N° Cot.</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of prospectos">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <!-- Anular prospectos -->
                                            <a class="text-danger" (click)="anular_prospecto[obj.id_prospecto] = 1"
                                                *ngIf="accion.id_accion==11 && anular_prospecto[obj.id_prospecto] != 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_prospecto[obj.id_prospecto] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="anular_prospecto[obj.id_prospecto] = 0"
                                                *ngIf="accion.id_accion==11 && anular_prospecto[obj.id_prospecto] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar prospectos -->
                                            <a class="text-success" (click)="habilitar_prospecto[obj.id_prospecto] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_prospecto[obj.id_prospecto] != 1 && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_prospecto[obj.id_prospecto] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary"
                                                (click)="habilitar_prospecto[obj.id_prospecto] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_prospecto[obj.id_prospecto] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.id_prospecto}}</td>
                                    <td>{{obj.rut}}</td>
                                    <td>{{obj.nombre_completo}}</td>
                                    <td>{{obj.telefonos}}</td>
                                    <td>{{obj.emails}}</td>
                                    <td>{{obj.nro_cotizaciones}}</td>
                                </tr>
                                <tr *ngIf=" !prospectos || prospectos.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina" [pageSize]="cantidad_pagina" [collectionSize]="cantidad"
                            [boundaryLinks]="true" [maxSize]="cantidad_pagina" [rotate]="true"
                            (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>