<div>
    <img src="{{imagen}}" width="100%" alt="{{codigo}}">
    <hr>
    <h1 id="title" class="title">Iniciar Sesión</h1>
    <p class="sub-title">Ingrese sus credenciales para el inicio de sesion</p>

    <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
        <div class="form-control-group">
            <label class="label" for="username">Usuario</label>
            <input nbInput fullWidth [(ngModel)]="user.username" #username="ngModel" name="username" id="username"
                placeholder="Nombre de Usuario" autofocus
                [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''" required
                [attr.aria-invalid]="username.invalid && username.touched ? true : null">
            <ng-container *ngIf="username.invalid && username.touched">
                <p class="error-message" *ngIf="username.errors?.required">
                    Nombre de usuario es obligatorio!
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="password">Contraseña:</label>
            <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
                id="password" placeholder="Password"
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" required [minlength]="4"
                [maxlength]="16" [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched ">
                <p class="error-message" *ngIf="password.errors?.required">
                    Contraseña es requerida!
                </p>
                <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                    Contraseña deberia contener
                    desde 4
                    a 16
                    caracteres
                </p>
            </ng-container>
        </div>
        <div class="form-control-group accept-group">
            <!-- <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox> -->
            <!-- <a class="forgot-password" routerLink="../request-password">Forgot Password?</a> -->
        </div>
        <button nbButton fullWidth status="success" [disabled]="loading || !form.valid" [class.btn-pulse]="loading">
            Acceder
        </button>
    </form>

    <!-- <section class="another-action" aria-label="Register">
        Don't have an account? <a class="text-link" routerLink="../register">Register</a>
    </section> -->
</div>