<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Acciones</nb-card-header>
                <nb-card-body>
                    <ng-container *ngFor="let accion of acciones">
                        <div class="row">
                            <!-- <h5><i class="{{accion.icon}}"></i>{{accion.descripcion}}</h5> -->
                            <!-- <div class="row col-md-12"> -->
                            <nb-checkbox status="success" [(ngModel)]="accion.activo">
                                <h5><i class="{{accion.icon}}"></i>{{accion.descripcion}}</h5>
                            </nb-checkbox>
                            <!-- </div> -->
                        </div>
                        <hr>
                    </ng-container>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>