<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Filtros</nb-card-header>
                <nb-card-body>
                    <form #formFiltros="ngForm" class="form-horizontal" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm" [(ngModel)]="filtros.nombre"
                                    name="nombre" id="nombre" placeholder="Nombre" />
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" [(ngModel)]="filtros.id_perfil" name="id_perfil"
                                    required id="id_perfil">
                                    <option value="">Perfil</option>
                                    <option *ngFor="let per of perfiles" value="{{per.id}}">{{per.glosa}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" [(ngModel)]="filtros.activo" name="activo"
                                    required id="activo">
                                    <option value="">Seleccione</option>
                                    <option value="1">Activos</option>
                                    <option value="0">Inactivos</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button status="success" nbButton size="small" type="submit">Buscar</button>
                                <button status="secondary" nbButton size="small" type="button"
                                    (click)="limpiar_filtros()">Limpiar Filtro</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>Usuarios</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{usuarios.length}} de {{cantidad}} registro(s) encontrados.</span> <button
                            status="success" nbButton size="small" type="button" (click)="agregar()"><i
                                class="fa fa-plus"></i> Usuario</button>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>Perfil</th>
                                <th>Usuario</th>
                                <th>Nombre Completo</th>
                                <th>Activo</th>
                                <th>Fecha Creacion</th>
                                <th>Ultima Conexion</th>
                                <th>Email</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of usuarios">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <!-- Anular usuarios -->
                                            <a class="text-danger" (click)="anular_usuario[obj.id_usuario] = 1"
                                                *ngIf="accion.id_accion==11 && anular_usuario[obj.id_usuario] != 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_usuario[obj.id_usuario] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="anular_usuario[obj.id_usuario] = 0"
                                                *ngIf="accion.id_accion==11 && anular_usuario[obj.id_usuario] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar usuarios -->
                                            <a class="text-success" (click)="habilitar_usuario[obj.id_usuario] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_usuario[obj.id_usuario] != 1 && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_usuario[obj.id_usuario] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="habilitar_usuario[obj.id_usuario] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_usuario[obj.id_usuario] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.glosa_perfil}}</td>
                                    <td>{{obj.username}}</td>
                                    <td>{{obj.nombre_completo}}</td>
                                    <td>{{obj.activo==1 ? 'Si' : 'No'}}</td>
                                    <td>{{getDate(obj.fecha_creacion,'DD/MM/YYYY HH:mm')}}</td>
                                    <td>{{getDate(obj.last_login,'DD/MM/YYYY HH:mm')}}</td>
                                    <td>{{obj.email}}</td>
                                </tr>
                                <tr *ngIf=" !usuarios || usuarios.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>