<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar Usuario</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formUsuario">
                        <div class="form-group row">
                            <label for="username" class="col-sm-6 col-form-label">Username <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" readonly="readonly" class="form-control" formControlName="username"
                                    required id="username" placeholder="Username">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.username.errors && formUsuario.controls.username.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="nombre" required id="nombre"
                                    placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.nombre.errors && formUsuario.controls.nombre.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_paterno" class="col-sm-6 col-form-label">Apellido Paterno <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="apellido_paterno" required
                                    id="apellido_paterno" placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.apellido_paterno.errors && formUsuario.controls.apellido_paterno.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_materno" class="col-sm-6 col-form-label">Apellido Materno</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="apellido_materno"
                                    id="apellido_materno" placeholder="Apellido Materno">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.apellido_materno.errors && formUsuario.controls.apellido_materno.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-6 col-form-label">Email <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="email" required id="email"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.email.errors && formUsuario.controls.email.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-6 col-form-label">Contraseña <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="password" class="form-control" minlength="4" formControlName="password"
                                    id="password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.password.errors && formUsuario.controls.password.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="password_confirm" class="col-sm-6 col-form-label">Confirmar Contraseña
                                <span>(debe ser igual al campo contraseña)</span><span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="password" class="form-control" formControlName="password_confirm"
                                    id="password_confirm" placeholder="Confirmar Contraseña">
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.password_confirm.errors && formUsuario.controls.password_confirm.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_perfil" class="col-sm-6 col-form-label">Perfil <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_perfil" required id="id_perfil">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let per of perfiles" value="{{per.id}}">{{per.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.id_perfil.errors && formUsuario.controls.id_perfil.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row"
                            *ngIf="formUsuario.value.id_perfil==5 || formUsuario.value.id_perfil==7">
                            <label for="notificacion" class="col-sm-6 col-form-label">Notificación <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="notificacion" required id="notificacion">
                                    <option value="">Seleccione</option>
                                    <option value="1">Instantánea</option>
                                    <option value="2">Grupal</option>
                                    <option value="3">Sin Notificación</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.notificacion.errors && formUsuario.controls.notificacion.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Usuario Activo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.activo.errors && formUsuario.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row" *ngIf="formUsuario.value.id_perfil==3">
                            <label for="gestionable" class="col-sm-6 col-form-label">Gestionable <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="gestionable" id="gestionable">
                                    <option value="">Seleccione</option>
                                    <option value="2">No</option>
                                    <option value="1">Si</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formUsuario.controls.gestionable.errors && formUsuario.controls.gestionable.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!formUsuario.valid"
                            (click)="submit()" type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>