<nb-card>
    <nb-card-header>
        <span>Agendar Visita</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formAgendamiento" class="form-horizontal">
            <div class="form-group row">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label">Ejecutivo
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <select class="form-control" formControlName="id_ejecutivo" required id="id_ejecutivo">
                        <option value="">Seleccione</option>
                        <option *ngFor="let eje of ejecutivos" [(value)]="eje.id_ejecutivo">{{eje.nombre_completo}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="formAgendamiento.controls.id_ejecutivo.errors && formAgendamiento.controls.id_ejecutivo.dirty"
                class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
            <div class="form-group row">
                <label for="fecha" class="col-sm-4 col-form-label">Fecha Agendamiento Visita
                    <span class="text text-danger">*</span>
                </label>
                <div class="col-sm-8 input-group">
                    <input class="form-control" (ngModelChange)="change_fecha_agendamiento_visita($event)"
                        [(ngModel)]="fecha_agendamiento_visita" [ngModelOptions]="{standalone: true}"
                        placeholder="Fecha Agendamiento" [minDate]="min" [autoClose]="true"
                        name="fecha_agendamiento_visita" readonly ngbDatepicker #d_picker="ngbDatepicker"
                        placement="bottom">
                    <div class="input-group-append">
                        <button nbButton size="small" status="info" (click)="d_picker.toggle()" type="button"><i
                                class="far fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
            <div align="right">
                <button type="button" (click)="submit()" [disabled]="!formAgendamiento.valid" status="info" size="small"
                    nbButton>Cargar Horarios</button>
            </div>
        </form>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table table-striped table-responsive">
                <thead>
                    <th colspan="6">Seleccione bloque de horario a reservar</th>
                </thead>
                <tbody>
                    <tr>
                        <!--<td>{{modulo}}</td>-->
                        <td *ngFor="let modulo of horarios">
                            <!-- <button ng-if="horarios_agendados.lastIndexOf(modulo)==-1" type="button" data-dismiss="modal" ng-click="reserva_bloque(modulo)" class="btn btn-xs btn-success">{{modulo}}</button> -->
                            <button *ngIf="modulo.disponible==1" type="button" (click)="reservar_bloque(modulo)"
                                nbButton status="success" size="small">{{modulo.bloque}}</button>
                            <!-- <button ng-hide="horarios_agendados.lastIndexOf(modulo)==-1" type="button" class="btn btn-xs btn-danger">{{modulo}} Reservado</button> -->
                            <button *ngIf="modulo.disponible==0" type="button" nbButton status="danger"
                                size="small">{{modulo.bloque}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="closeModal()">Cerrar</button>
    </nb-card-footer>
</nb-card>