<div class="modal-header">
    <span>Historial Gestiones</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <nb-card *ngFor="let gestion of gestiones">
        <nb-card-header>
            <div class="row">
                <div class="col-sm-7">
                    <span>{{gestion.glosa_estado}} {{gestion.nombre_operador ? '('+gestion.nombre_operador+')' : ''}}</span>
                </div>
                <div class="col-sm-5">
                    <span class="font-w-light">({{gestion.glosa_medio_contacto ? gestion.glosa_medio_contacto : 'Aut.'}}
                        -- {{gestion.fecha_creacion | date: 'dd/MM/yy HH:mm'}})</span>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="col-12" *ngIf="gestion.cv_ejecutivo>=1">Respuesta:
                {{gestion.cv_ejecutivo==1 ? 'Si' : 'No'}}
            </div>
            <div class="col-12">{{gestion.comentario ? gestion.comentario : 'Sin Comentarios'}}.</div>
        </nb-card-body>
    </nb-card>
</div>
<div class="modal-footer">
    <button nbButton status="primary" size="medium" (click)="closeModal()">Cerrar</button>
</div>






<!-- <nb-card>
    <nb-card-header>
        <span>Historial Gestiones</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <nb-card *ngFor="let gestion of gestiones">
            <nb-card-header>
                <div class="row">
                    <div class="col-sm-7">
                        <span>{{gestion.nombre_operador}} || {{gestion.glosa_estado}}</span>
                    </div>
                    <div class="col-sm-5">
                        <span
                            class="font-w-light">({{gestion.glosa_medio_contacto ? gestion.glosa_medio_contacto : 'Aut.'}}
                            -- {{gestion.fecha_creacion | date: 'dd/MM/yy HH:mm'}})</span>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row" *ngIf="gestion.cv_ejecutivo>=1">Respuesta: {{gestion.cv_ejecutivo==1 ? 'Si' : 'No'}}
                </div>
                <div class="row">{{gestion.comentario ? gestion.comentario : 'Sin Comentarios'}}.</div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="closeModal()">Cerrar</button>
    </nb-card-footer>
</nb-card> -->