<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control input-sm" name="campania" [disabled]="verificado==1"
                                [(ngModel)]="campania" id="campania">
                                <option value="">Campaña</option>
                                <option *ngFor="let cam of campanias" value="{{cam.id}}">{{cam.glosa}}</option>
                            </select>
                        </div>
                        <div class="col-md-9">
                            <input type="file" style="display: inline-block;" [(ngModel)]="archivo"
                                (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                            <!-- <button type="button" status="success" nbButton size="small" (click)="descargar_ejemplo()" >Descargar Plantilla de Ejemplo</button> -->
                            <button type="button" status="warning" nbButton size="small"
                                [disabled]="archivo=='' || campania==''" *ngIf="verificado==0"
                                (click)="verificar()">Verificar</button>
                            <button type="button" status="info" nbButton size="small" [disabled]="validos.length<=0"
                                *ngIf="verificado==1 && validos.length>0" (click)="showModal()"
                                [disabled]="subiendo==1">{{subiendo==1 ? 'Subiendo ' : 'Subir Validos ' }} <i
                                    *ngIf="subiendo==1" class="fa fa-spinner"></i></button>
                        </div>
                    </div>
                    <br *ngIf="verificado==1">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" status="success" nbButton size="small" *ngIf="validos.length>0"
                                (click)="export_validos()">Excel Archivos Validos</button>
                            <button type="button" status="success" nbButton size="small" *ngIf="invalidos.length>0"
                                (click)="export_invalidos()">Excel Archivos Invalidos</button>
                            <!-- <button type="button" status="info" nbButton size="small" (click)="verificado=0" >recarga</button> -->
                        </div>
                    </div>
                </nb-card-header>
                <!-- <button type="button" status="info" nbButton size="small" (click)="showModal()" >Subir Validos</button>    -->
                <nb-card-body>
                    <h4>Instrucciones</h4>
                    <li>Debe seleccionar una campaña a la cual se asignarán los registros a cargar</li>
                    <li>En caso de que la campaña necesaria no se encuentre disponible, debe agregarla en el mantenedor
                        correspondiente a esta</li>
                    <li>El tipo de archivo soportado es Hoja de Cálculo de Microsoft Excel</li>
                    <li>Es necesario que los registros se encuentren en la Primera Hoja del Archivo</li>
                    <li><b>Además es requisito minimo que el archivo contenga las columnas rut, nombre, apellidos,
                            interes, telefono y correo</b></li>
                    <li>En caso de no tener rut, es posible reemplzar por un identificador del prospecto (Ej: Telefono,
                        Correo)</li>
                    <li>En caso de NO contener estas columnas o NO contener estos datos, el registro no se podrá validar
                        y quedara excluido de la carga final.</li>
                    <!-- <li>El nombre de las columnas debe estar escrito en minusculas</li> -->
                    <li><b>Para descargar un ejemplo estandar del archivo de subida, haga clic aquí <a
                                class="text-success" title="Descargar Ejemplo" (click)="descargar_ejemplo()"><i
                                    class="fa fa-download" aria-hidden="true"></i></a></b></li>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>