<style>
    .widget {
        border-radius: 3px;
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        overflow: hidden;
    }

    .widget.widget-stats {
        position: relative;
    }

    .widget-stats .stats-info h4 {
        font-size: 12px;
        margin: 5px 0;
        color: #fff;
    }

    .widget-stats .stats-icon {
        font-size: 30px;
        height: 56px;
        width: 25px;
        text-align: center;
        line-height: 75px;
        margin-left: 15px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

    .widget-stats .stats-info p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
        color: #fff;
    }

    .widget-stats .stats-link a {
        display: block;
        margin: 15px -15px -15px;
        padding: 7px 15px;
        background: url(../img/transparent/black-0.4.png);
        background: rgba(0, 0, 0, 0.4);
        text-align: right;
        color: #ddd;
        font-weight: 300;
        text-decoration: none;
    }

    .widget-stats .stats-link a:hover,
    .widget-stats .stats-link a:focus {
        background: url(../img/transparent/black-0.6.png);
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    .widget-stats .stats-icon.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
    }

    .widget-stats .stats-title {
        position: relative;
        line-height: 1.1;
        font-size: 12px;
        margin: 2px 0 7px;
    }

    .widget-stats .stats-title,
    .widget-stats .stats-desc {
        color: #fff;
        color: rgba(255, 255, 255, 0.6);
    }

    .widget-stats .stats-desc {
        font-weight: 300;
        margin-bottom: 0;
    }

    .widget-stats .stats-number {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .widget-stats .stats-progress {
        background: url('../img/transparent/black-0.2.png');
        background: rgba(0, 0, 0, 0.2);
        height: 2px;
        margin: 0 -15px 12px;
    }

    .widget-stats .stats-progress .progress-bar {
        background: #fff;
    }
</style>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="widget widget-stats btn-danger col-4" (click)="ver_hoy()">
                    <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                    <div class="stats-info">
                        <h4>Hoy</h4>
                        <p>{{hoy}}</p>
                    </div>
                </div>
                <div class="widget widget-stats btn-success col-4" (click)="ver_semana()">
                    <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                    <div class="stats-info">
                        <h4>ESTA SEMANA</h4>
                        <p>{{semana}}</p>
                    </div>
                </div>
                <div class="widget widget-stats btn-info col-4" (click)="ver_mes()">
                    <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                    <div class="stats-info">
                        <h4>ESTE MES</h4>
                        <p>{{mes}}</p>
                    </div>
                </div>
            </div>
            <nb-card>
                <nb-card-header>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Agenda {{getDate(fecha_sel_desde,'DD-MM-YYYY')}} a
                                {{getDate(fecha_sel_hasta,'DD-MM-YYYY')}}
                                ({{filtros.id_ejecutivo!='' ? ejecutivo : 'Todos' }})
                            </div>
                            <div class="form-group col-md-3">
                                <button nbButton size="small" status="primary" type="button"
                                    (click)="filtrado=!filtrado">
                                    {{filtrado ? 'Ocultar' : 'Filtrar'}}</button>
                            </div>
                            <div class="form-group col-md-3" *ngIf="cargando==1">
                                Cargando <i style="animation: spin 1s infinite linear;" class="fa fa-spinner"></i>
                            </div>
                        </div>
                        <div *ngIf="filtrado==1" class="row col-md-12">
                            <div class="form-group col-md-4">
                                <select [ngModelOptions]="{standalone: true}" [disabled]="user.id_perfil!=7"
                                    class="form-control input-sm" [(ngModel)]="filtros.id_ejecutivo" name="id_ejecutivo"
                                    required id="id_ejecutivo">
                                    <option value="">Todos</option>
                                    <option *ngFor="let eje of ejecutivos" value="{{eje.id_usuario}}">
                                        {{eje.nombre_completo}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group input-group">
                                    <input [ngModelOptions]="{standalone: true}" class="form-control input"
                                        [autoClose]="true" (select)="onDateSelected()"
                                        (ngModelChange)="cambio_fecha_desde($event)" [(ngModel)]="fecha_desde"
                                        [firstDayOfWeek]="1" [minDate]="minDate" [maxDate]="maxDate" type="text"
                                        readonly="readonly" ngbDatepicker #d1="ngbDatepicker" />
                                    <span class="input-group-btn">
                                        <button nbButton size="medium" status="info" (click)="d1.toggle()"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group input-group">
                                    <!-- <ngb-datepicker #d [minDate]="2019-04-08" [maxDate]="2019-04-09"></ngb-datepicker> -->
                                    <input [ngModelOptions]="{standalone: true}" class="form-control input"
                                        [autoClose]="true" (select)="onDateSelected()"
                                        (ngModelChange)="cambio_fecha_hasta($event)" [(ngModel)]="fecha_hasta"
                                        [firstDayOfWeek]="1" [minDate]="minDate" [maxDate]="maxDate" type="text"
                                        readonly="readonly" ngbDatepicker #d2="ngbDatepicker" />
                                    <span class="input-group-btn">
                                        <button nbButton size="medium" status="info" (click)="d2.toggle()"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <input [ngModelOptions]="{standalone: true}" class="form-control input"
                                    [(ngModel)]="filtros.rut" type="text" placeholder="Rut" />
                            </div>
                            <div class="form-group col-md-4">
                                <input [ngModelOptions]="{standalone: true}" class="form-control input"
                                    [(ngModel)]="filtros.prospecto" type="text" placeholder="Prospecto" />
                            </div>
                            <div class="form-group col-md-4">
                                <select [ngModelOptions]="{standalone: true}" class="form-control input-sm"
                                    [(ngModel)]="filtros.id_etapa" name="id_etapa" required id="id_etapa">
                                    <option value="">Todos</option>
                                    <option value="4">Agendados</option>
                                    <option value="5">Por Confirmar</option>
                                    <option value="6">Negociación</option>
                                    <option value="7">Terminadas</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <button status="success" nbButton size="small" type="submit"
                                    (click)="submit(1);filtrado=0">
                                    <!-- <i class="fa fa-search"></i> -->Aplicar</button>
                            </div>
                            <div class="form-group col-md-2">
                                <button status="secondary" nbButton size="small" type="button"
                                    (click)="limpiar_filtros();filtrado=0">
                                    <!-- <i class="fa fa-trash"></i> -->Limpiar</button>
                            </div>
                        </div>
                    </form>
                </nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th> - </th>
                                <th *ngIf="filtros.fecha_desde!=filtros.fecha_hasta">Fecha</th>
                                <th>Hora</th>
                                <th>Prospecto</th>
                                <th class="hiddenColumn">{{etiquetas.item}}</th>
                                <th *ngIf="filtros.id_ejecutivo==''">Ejecutivo</th>
                                <th *ngIf="filtros.id_etapa==''">Etapa</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td>
                                        <a class="text-info" (click)="ver_agenda(obj)" title="Visualizar"><i
                                                class="fa fa-search" aria-hidden="true"></i></a>
                                        <span *ngIf="obj.cv_ejecutivo == 1 && (obj.id_etapa == 6 || obj.id_etapa == 7)"
                                            class="badge badge-success" data-toggle="tooltip" data-placement="top"
                                            title="Visita Confirmada" style="cursor:default;">CV</span>
                                        <span
                                            *ngIf="obj.cv_ejecutivo == 2 && (obj.id_etapa == 4 || obj.id_etapa == 5 || obj.id_etapa == 6 || obj.id_etapa == 7)"
                                            class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                                            title="Visita No Confirmada" style="cursor:default;">CV</span>
                                        <span
                                            *ngIf="obj.cv_ejecutivo == null && (obj.id_etapa == 4 || obj.id_etapa == 5)"
                                            class="badge badge-warning" data-toggle="tooltip" data-placement="top"
                                            title="Pendiente" style="cursor:default;">P</span>
                                        <span *ngIf="obj.id_etapa == 6 || obj.id_etapa == 7" class="badge badge-info"
                                            data-toggle="tooltip" data-placement="top" title="Terminado"
                                            style="cursor:default;">T</span>
                                    </td>
                                    <td *ngIf="filtros.fecha_desde!=filtros.fecha_hasta">
                                        {{getDate(obj.fecha_ultimo_agendamiento, 'DD-MM-YYYY')}}</td>
                                    <td>{{getDate(obj.fecha_ultimo_agendamiento,'HH:mm')}}</td>
                                    <td>{{obj.rut}} - {{obj.nombre_completo}}</td>
                                    <td class="hiddenColumn">{{obj.glosa_item}}</td>
                                    <td *ngIf="filtros.id_ejecutivo==''">{{obj.nombre_ejecutivo}}</td>
                                    <td *ngIf="filtros.id_etapa==''">{{obj.glosa_etapa}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>