<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Agregar Prospecto Telefonico</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formProspecto">
                        <div class="form-group row">
                            <label for="rut" class="col-sm-6 col-form-label">Rut <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="rut" required id="rut"
                                    placeholder="Rut">
                            </div>
                        </div>
                        <div *ngIf="formProspecto.controls.rut.errors && formProspecto.controls.rut.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="nombre" required id="nombre"
                                    placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="formProspecto.controls.nombre.errors && formProspecto.controls.nombre.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_paterno" class="col-sm-6 col-form-label">Apellido Paterno <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="apellido_paterno" required
                                    id="apellido_paterno" placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div *ngIf="formProspecto.controls.apellido_paterno.errors && formProspecto.controls.apellido_paterno.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido_materno" class="col-sm-6 col-form-label">Apellido Materno</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="apellido_materno"
                                    id="apellido_materno" placeholder="Apellido Materno">
                            </div>
                        </div>
                        <div *ngIf="formProspecto.controls.apellido_materno.errors && formProspecto.controls.apellido_materno.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_region" class="col-sm-6 col-form-label">Región</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_region" (change)="cambio_region()"
                                    id="id_region">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of regiones" [(value)]="reg.id">{{reg.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_comuna" class="col-sm-6 col-form-label">Comuna</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_comuna" id="id_comuna">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let com of comunas" [(value)]="com.id">{{com.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="direccion" class="col-sm-6 col-form-label">Dirección</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="direccion" id="direccion"
                                    placeholder="Dirección">
                            </div>
                        </div>
                        <div *ngIf="formProspecto.controls.direccion.errors && formProspecto.controls.direccion.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="telefono_prospecto" class="col-sm-6 col-form-label">Teléfonos</label>
                            <div class="col-sm-6">
                                <button status="info" nbButton size="small" (click)="agregar_telefono()">
                                    <i class="fa fa-plus"></i> Telefono</button>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let phone of telefonos_prospecto; let $index = index">
                            <label for="telefono_prospecto" class="col-sm-6 col-form-label"></label>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" required id="telefono_prospecto"
                                        (change)="cambio_telefono()" [ngModelOptions]="{standalone: true}"
                                        name="phone_{{$index}}" [(ngModel)]="phone.glosa" placeholder="Teléfono">
                                    <span class="input-group-btn">
                                        <button status="danger" nbButton size="small"
                                            (click)="anular_telefono(phone,$index)" title="Anular">
                                            <i class="fa fa-ban"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email_prospecto" class="col-sm-6 col-form-label">Email</label>
                            <div class="col-sm-6">
                                <button nbButton status="info" size="small" (click)="agregar_email()">
                                    <i class="fa fa-plus"></i> Email</button>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let email of emails_prospecto; let $index = index">
                            <label for="email_prospecto" class="col-sm-6 col-form-label"></label>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <input type="email" class="form-control" [(ngModel)]="email.glosa"
                                        [ngModelOptions]="{standalone: true}" (change)="cambio_email()"
                                        name="email_{{$index}}" required id="email_prospecto" placeholder="Email">
                                    <span class="input-group-btn">
                                        <button status="danger" nbButton size="small"
                                            (click)="anular_email(email, $index)" title="Anular">
                                            <i class="fa fa-ban"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row" *ngFor="let campo of camposvariables">
                            <label for="{{campo.campo.identificador}}"
                                class="col-sm-6 col-form-label">{{campo.campo.glosa_campovariable}}</label>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='A'">
                                <input type="text" class="form-control input-sm"
                                    formControlName="{{campo.campo.identificador}}" id="{{campo.campo.identificador}}"
                                    placeholder="{{campo.campo.glosa_campovariable}}">
                            </div>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='C'">
                                <select class="form-control input-sm" formControlName="{{campo.campo.identificador}}"
                                    id="{{campo.campo.identificador}}">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of campo.lista" [(value)]="reg.id_valor_variable">
                                        {{reg.glosa_valor_variable}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton size="medium" status="success" [disabled]="!formProspecto.valid"
                            (click)="submit()" type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>