<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar {{etiquetas.item}}</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="glosa_1" class="col-sm-6 col-form-label">Nivel 1 <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" (change)="nivel2()" list="itemsName1"
                                    formControlName="glosa_1" required id="glosa_1" placeholder="Nivel 1">
                                <datalist id="itemsName1">
                                    <option *ngFor="let obj of items1" value="{{obj.glosa}}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_1.errors && form.controls.glosa_1.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="glosa_2" class="col-sm-6 col-form-label">Nivel 2 </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" list="itemsName2" formControlName="glosa_2"
                                    id="glosa_2" placeholder="Nivel 2">
                                <datalist id="itemsName2">
                                    <option *ngFor="let obj of items2" value="{{obj.glosa}}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_2.errors && form.controls.glosa_2.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="glosa_3" class="col-sm-6 col-form-label">Nivel 3 </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_3" id="glosa_3"
                                    placeholder="Nivel 3">
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_3.errors && form.controls.glosa_3.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="form.controls.activo.errors && form.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="alias_excel" class="col-sm-6 col-form-label">Alias Carga Masiva</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="alias_excel" id="alias_excel"
                                    placeholder="Alias Carga Masiva">
                            </div>
                        </div>
                        <div *ngIf="form.controls.alias_excel.errors && form.controls.alias_excel.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="firma" class="col-sm-6 col-form-label">Link imagen de firma
                                {{etiquetas.item}}</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="firma" id="firma"
                                    placeholder="Link imagen de firma">
                            </div>
                        </div>
                        <div *ngIf="form.controls.firma.errors && form.controls.firma.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <!-- <div class="form-group row">
                                <label for="id_plantilla" class="col-sm-6 col-form-label">Plantilla de Correo</label>
                                <div class="input-group input-group-sm col-sm-6">
                                    <select class="form-control" formControlName="id_plantilla" required id="id_plantilla">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let obj of plantillas" value="{{obj.id}}">{{obj.glosa}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="form.controls.id_plantilla.errors && form.controls.id_plantilla.dirty" class="form-group row alert alert-danger">
                                <label for="" class="col-sm-6 col-form-label"></label>
                                <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                            </div> -->
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>