<nb-card>
    <nb-card-header>
        <span>{{ modalHeader }}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" class="form-horizontal">
            <div class="form-group row">
                <label for="para" class="col-sm-4 col-form-label">Para
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <input type="text" class="form-control" formControlName="para" required id="para"
                        placeholder="Para">
                </div>
            </div>
            <div *ngIf="form.controls.para.errors && form.controls.para.dirty"
                class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
            <div class="form-group row">
                <label for="copia" class="col-sm-4 col-form-label">Copia
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <input type="text" class="form-control" formControlName="copia" id="copia" placeholder="Copia">
                </div>
            </div>
            <div *ngIf="form.controls.copia.errors && form.controls.copia.dirty"
                class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success" outline size="medium" [disabled]="!form.valid" (click)="reenviar_email()">Reenviar</button>
    </nb-card-footer>
</nb-card>