<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Filtro</nb-card-header>
                <nb-card-body>
                    <form #formFiltros="ngForm" class="form-horizontal" (ngSubmit)="submit()">
                        <div class="row">
                            <!-- <div class="col-md-3 input-group-sm">
                            <select class="form-control input-sm" [(ngModel)]="form.procesado" name="procesado" required id="procesado">
                                <option value="">Seleccione</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div> -->
                            <div class="col-md-3 input-group-sm">
                                <input type="text" class="form-control input-sm" [(ngModel)]="form.id" name="id"
                                    placeholder="ID" />
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input type="text" class="form-control input-sm" [(ngModel)]="form.rut" name="rut"
                                    placeholder="Rut" />
                            </div>
                            <div class="col-md-3 input-group-sm">
                                <input type="text" class="form-control input-sm" [(ngModel)]="form.nombre" name="nombre"
                                    placeholder="Nombre" />
                            </div>
                        </div>
                        <br>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button status="success" nbButton size="small" type="submit">Buscar</button>
                                <!-- <button class="btn btn-secondary " nbButton size="small" type="button" (click)="limpiar_filtros()">Limpiar Filtro</button> -->
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>Cargas</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th>Interes</th>
                                <th>N° Intentos</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="obj.procesado==0 && accion.id_accion==10"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.id}}</td>
                                    <td>{{obj.nombre}} {{obj.apellidos}}</td>
                                    <td>{{obj.rut}}</td>
                                    <td>{{obj.interes}}</td>
                                    <td>{{obj.intentos}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>