<div>
    <h3>Gestion de Ventas</h3>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <form [formGroup]="formFiltros" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control input-sm" formControlName="periodo">
                                    <option value="">Periodo</option>
                                    <option *ngFor="let per of periodos" value="{{per.periodo}}">{{per.periodo}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" id="entidad" (change)="cambio_entidad()"
                                    formControlName="entidad">
                                    <option value="">Entidad</option>
                                    <option value="sucursal">{{etiquetas.sucursal}}</option>
                                    <option value="interes">{{etiquetas.item}}</option>
                                    <option value="asesor">Asesor</option>
                                    <option value="ejecutivo">Ejecutivo</option>
                                </select>
                            </div>
                            <button type="submit" [disabled]="!formFiltros.valid || cargando==1" (click)="submit()"
                                nbButton size="small" status="primary">Cargar Informe</button>
                            <div class="form-group col-md-3" *ngIf="cargando==1">
                                Cargando <i style="animation: spin 1s infinite linear;" class="fa fa-spinner"></i>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <button type="submit" (click)="cargar_excel()" [disabled]="disabled_resumen==1" status="success"
                        nbButton size="small">Descargar Excel Resumen</button>
                    <button type="submit" (click)="preparar_excel_detalle()" [disabled]="disabled_detalle==1"
                        *ngIf="detalle_preparado==0" status="success" nbButton size="small">Preparar Excel
                        Detalle</button>
                    <button type="submit" (click)="exportar_detalle('xlsx')" [disabled]="excel_loading==1"
                        *ngIf="detalle_preparado==1" status="warning" nbButton size="small">Excel Detalle</button>
                    <button type="submit" (click)="exportar_detalle('csv')" [disabled]="excel_loading==1"
                        *ngIf="detalle_preparado==1" status="warning" nbButton size="small">Csv Detalle</button>
                </nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th>{{entidad_titulo }}</th>
                                <th>Cotizaciones</th>
                                <th>Gestionadas</th>
                                <th>Contactados</th>
                                <th>Agendamientos</th>
                                <th>Asistieron</th>
                                <th *ngIf="reserva==1">Reservo</th>
                                <th>{{etiquetas.compro}}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td>{{obj[entidad] ? obj[entidad] : 'Sin Definir' }}</td>
                                    <td>{{obj.cotizaciones}}</td>
                                    <td>{{obj.gestionadas}} ({{obj.gestionadas/obj.cotizaciones | porcentaje: '2.0-0'}})
                                    </td>
                                    <td>{{obj.contactadas}} ({{obj.contactadas/obj.cotizaciones | porcentaje: '2.0-0'}})
                                    </td>
                                    <td>{{obj.visitas}} ({{obj.visitas/obj.contactadas | porcentaje: '2.0-0'}})</td>
                                    <td>{{obj.asistieron}}
                                        ({{obj.asistieron/obj.visitas | porcentaje: '2.0-0'}})/({{obj.asistieron/obj.contactadas | porcentaje: '2.0-0'}})
                                    </td>
                                    <td *ngIf="reserva==1">{{obj.reservaron}}
                                        ({{obj.reservaron/obj.asistieron | porcentaje: '2.0-0'}})</td>
                                    <td>{{obj.compro}} ({{obj.compro/obj.reservaron | porcentaje: '2.0-0'}})</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="8">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                            <tfoot style="background: #c7d3dc">
                                <tr>
                                    <th>Total</th>
                                    <th>{{footer.total_cotizaciones}}</th>
                                    <th>{{footer.total_gestionadas}}
                                        ({{footer.total_gestionadas/footer.total_cotizaciones | porcentaje: '2.0-0'}})
                                    </th>
                                    <th>{{footer.total_contactadas}}
                                        ({{footer.total_contactadas/footer.total_cotizaciones | porcentaje: '2.0-0'}})
                                    </th>
                                    <th>{{footer.total_visitas}}
                                        ({{footer.total_visitas/footer.total_contactadas | porcentaje: '2.0-0'}})</th>
                                    <th>{{footer.total_asistieron}}
                                        ({{footer.total_asistieron/footer.total_visitas | porcentaje: '2.0-0'}})/({{footer.total_asistieron/footer.total_contactadas | porcentaje: '2.0-0'}})
                                    </th>
                                    <th *ngIf="reserva==1">{{footer.total_reservo}}
                                        ({{footer.total_reservo/footer.total_asistieron | porcentaje: '2.0-0'}})</th>
                                    <th>{{footer.total_compro}}
                                        ({{footer.total_compro/footer.total_reservo | porcentaje: '2.0-0'}})</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>