/* @import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    
  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {
    .arrow-conv{
        display: none
    }
  }

  @include media-breakpoint-down(is) {
    .arrow-conv{
        display: none
    }
  }

  @include media-breakpoint-down(xs) {
    .arrow-conv{
        display: none
    }
  }
} */

