<style>
    .widget {
        border-radius: 3px;
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        overflow: hidden;
    }

    .widget.widget-stats {
        position: relative;
    }

    .widget-stats .stats-info h4 {
        font-size: 12px;
        margin: 5px 0;
        color: #fff;
    }

    .widget-stats .stats-icon {
        font-size: 30px;
        height: 56px;
        width: 25px;
        text-align: center;
        line-height: 75px;
        margin-left: 15px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

    .widget-stats .stats-info p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
        color: #fff;
    }

    .widget-stats .stats-link a {
        display: block;
        margin: 15px -15px -15px;
        padding: 7px 15px;
        background: url(../img/transparent/black-0.4.png);
        background: rgba(0, 0, 0, 0.4);
        text-align: right;
        color: #ddd;
        font-weight: 300;
        text-decoration: none;
    }

    .widget-stats .stats-link a:hover,
    .widget-stats .stats-link a:focus {
        background: url(../img/transparent/black-0.6.png);
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    .widget-stats .stats-icon.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
    }

    .widget-stats .stats-title {
        position: relative;
        line-height: 1.1;
        font-size: 12px;
        margin: 2px 0 7px;
    }

    .widget-stats .stats-title,
    .widget-stats .stats-desc {
        color: #fff;
        color: rgba(255, 255, 255, 0.6);
    }

    .widget-stats .stats-desc {
        font-weight: 300;
        margin-bottom: 0;
    }

    .widget-stats .stats-number {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .widget-stats .stats-progress {
        background: url('../img/transparent/black-0.2.png');
        background: rgba(0, 0, 0, 0.2);
        height: 2px;
        margin: 0 -15px 12px;
    }

    .widget-stats .stats-progress .progress-bar {
        background: #fff;
    }

    /* .vertical {
        writing-mode:tb-rl;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform:rotate(90deg);
        transform: rotate(90deg);
        white-space:nowrap;
        display:block;
        bottom:0;
        width:20px;
        height:20px;
    }
    .verticalText{
        width:1px;
        word-wrap: break-word;
    } */
</style>
<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-5">
                                Resumen {{periodo_seleccionado}} ({{filtros.id_ejecutivo!='' ? ejecutivo : 'Todos' }})
                            </div>
                            <div class="form-group col-md-3">
                                <button nbButton size="small" status="primary" type="button"
                                    (click)="filtrado=!filtrado">
                                    <!-- <i class="fa fa-filter"></i> -->{{filtrado ? 'Ocultar' : 'Filtrar'}}</button>
                            </div>
                            <div class="form-group col-md-3" *ngIf="cargando==1">
                                Cargando <i style="animation: spin 1s infinite linear;" class="fa fa-spinner"></i>
                            </div>
                        </div>
                        <div *ngIf="filtrado==1" class="row col-md-12">
                            <div class="form-group col-md-4">
                                <select [ngModelOptions]="{standalone: true}" [disabled]="user.id_perfil!=7"
                                    class="form-control input-sm" [(ngModel)]="filtros.id_ejecutivo" name="id_ejecutivo"
                                    required id="id_ejecutivo">
                                    <option value="">Todos</option>
                                    <option *ngFor="let eje of ejecutivos" value="{{eje.id_usuario}}">
                                        {{eje.nombre_completo}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group input-group">
                                    <select [ngModelOptions]="{standalone: true}" class="form-control input-sm"
                                        [(ngModel)]="filtros.periodo" name="periodo" required id="periodo">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let per of periodos" value="{{per.periodo}}">{{per.periodo}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <button status="success" nbButton size="small" type="submit"
                                    (click)="submit(1);filtrado=0">
                                    <!-- <i class="fa fa-search"></i> -->Aplicar</button>
                                <button status="secondary" nbButton size="small" type="button"
                                    (click)="limpiar_filtros();filtrado=0">
                                    <!-- <i class="fa fa-trash"></i> -->Limpiar</button>
                            </div>
                        </div>
                    </form>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-1">
                                        <h5>Funnel Ventas</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-success">
                                            <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                                            <div class="stats-info">
                                                <h4>Agendamientos</h4>
                                                <p>{{funnel.total_visitas ? funnel.total_visitas : 0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrow-conv form-group col-md-1">
                                        <div style="right:10px;">
                                            <i style="padding:15px;color: darkgoldenrod"
                                                class="fa fa-chevron-right fa-4x"></i>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-warning">
                                            <div class="stats-icon"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="stats-info">
                                                <h4>Visitas</h4>
                                                <p>{{funnel.total_asistieron ? funnel.total_asistieron : 0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrow-conv form-group col-md-1">
                                        <div style="right:10px;">
                                            <i style="padding:15px;color: indianred"
                                                class="fa fa-chevron-right fa-4x"></i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-danger">
                                            <div class="stats-icon"><i class="fa fa-handshake-o"></i></div>
                                            <div class="stats-info">
                                                <h4>Ventas</h4>
                                                <p>{{ funnel.total_compro ? funnel.total_compro : 0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-1">
                                        <h5>Gestión Ventas</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-success">
                                            <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                                            <div class="stats-info">
                                                <h4>Agendamientos</h4>
                                                <p>{{gestion.total_visitas ? gestion.total_visitas :0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrow-conv form-group col-md-1">
                                        <div style="right:10px;">
                                            <i style="padding:15px;color: darkgoldenrod"
                                                class="fa fa-chevron-right fa-4x"></i>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-warning">
                                            <div class="stats-icon"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="stats-info">
                                                <h4>Visitas</h4>
                                                <p>{{gestion.total_asistieron ? gestion.total_asistieron : 0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrow-conv form-group col-md-1">
                                        <div style="right:10px;">
                                            <i style="padding:15px;color: indianred"
                                                class="fa fa-chevron-right fa-4x"></i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="widget widget-stats btn-danger">
                                            <div class="stats-icon"><i class="fa fa-handshake-o"></i></div>
                                            <div class="stats-info">
                                                <h4>Ventas</h4>
                                                <p>{{gestion.total_compro ? gestion.total_compro : 0}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>