<nb-card>
    <nb-card-header>
        Editar Matriz
    </nb-card-header>
    <nb-card-header>
        {{obj.nombre_ejecutivo}} en {{obj.sucursal}}
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div>
                <h5>Lunes a Viernes</h5>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>AM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" (keypress)="validateNumber($event)" step="0.01" class="form-control input-sm" required formControlName="lvami" id="lvami"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="lvami" name="lvami" required
                                    id="lvami">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="lvamf" id="lvamf"
                                placeholder="Hasta"> -->
                                <select class="form-control input-sm" formControlName="lvamf" name="lvamf" required
                                    id="lvamf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>PM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="lvpmi" id="lvpmi"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="lvpmi" name="lvpmi" required
                                    id="lvpmi">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <select class="form-control input-sm" formControlName="lvpmf" name="lvpmf" required
                                    id="lvpmf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h5>Sábado</h5>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>AM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" (keypress)="validateNumber($event)" step="0.01" class="form-control input-sm" required formControlName="saami" id="saami"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="saami" name="saami" required
                                    id="saami">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="saamf" id="saamf"
                                placeholder="Hasta"> -->
                                <select class="form-control input-sm" formControlName="saamf" name="saamf" required
                                    id="saamf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>PM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="sapmi" id="sapmi"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="sapmi" name="sapmi" required
                                    id="sapmi">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <select class="form-control input-sm" formControlName="sapmf" name="sapmf" required
                                    id="sapmf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h5>Domingo</h5>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>AM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" (keypress)="validateNumber($event)" step="0.01" class="form-control input-sm" required formControlName="doami" id="doami"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="doami" name="doami" required
                                    id="doami">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="doamf" id="doamf"
                                placeholder="Hasta"> -->
                                <select class="form-control input-sm" formControlName="doamf" name="doamf" required
                                    id="doamf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>PM</label>
                        <div class="form-group row">
                            <div class="input-group-sm col-md-6">
                                <!-- <input type="number" step="0.01" class="form-control input-sm" required formControlName="dopmi" id="dopmi"
                                placeholder="Desde"> -->
                                <select class="form-control input-sm" formControlName="dopmi" name="dopmi" required
                                    id="dopmi">
                                    <option value="null">Desde</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                            <div class="input-group-sm col-md-6">
                                <select class="form-control input-sm" formControlName="dopmf" name="dopmf" required
                                    id="dopmf">
                                    <option value="null">Hasta</option>
                                    <option *ngFor="let hor of horario" value="{{hor.valor}}">{{hor.glosa}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="secondary" size="medium" (click)="closeModal()">Cancelar</button>
        <button nbButton status="success" type="submit" (click)="submit()">Guardar</button>
    </nb-card-footer>
</nb-card>