<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    Listas
                    <button *ngIf="tiene_filtro==0" (click)="filtrosModal()" title="Filtros" nbButton size="small"
                        status="success" outline><i class="fa fa-filter" aria-hidden="true"></i></button>
                    <button *ngIf="tiene_filtro==1" (click)="filtrosModal()" title="Filtros" nbButton size="small"
                        status="warning" outline><i class="fa fa-filter" aria-hidden="true"></i></button>
                    <button nbButton size="small" status="primary" type="button" (click)="showReasignar()"
                        [disabled]="seleccionados.length<=0">Reasignar</button>
                    <span>{{cotizaciones.length}} de {{cantidad}} registro(s) encontrados.</span>
                </nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th>
                                    <form [formGroup]="formSelTodos">
                                        <nb-checkbox formControlName="seleccionar_todo" status="success"
                                            class="col-sm-4"></nb-checkbox>
                                    </form>
                                </th>
                                <th>ID</th>
                                <th *ngIf="user.id_perfil==3">Operador</th>
                                <th>Prospecto</th>
                                <th>Campaña</th>
                                <th>{{etiquetas.sucursal}}</th>
                                <th>{{etiquetas.item}}</th>
                                <th>Etapa</th>
                                <th>Estado</th>
                                <!-- <th>Fecha Agendamiento</th> -->
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of cotizaciones">
                                    <td>
                                        <nb-checkbox [(ngModel)]="obj.seleccionado" (change)="validar_seleccionados()"
                                            status="success"></nb-checkbox>
                                    </td>
                                    <td>{{obj.id_cotizacion}}</td>
                                    <td *ngIf="user.id_perfil==3">{{obj.nombre_usuario_asignado}}</td>
                                    <td>{{obj.nombre_completo}}</td>
                                    <td>{{obj.glosa_campania}}</td>
                                    <td>{{obj.glosa_sucursal}}</td>
                                    <td>{{obj.glosa_item}}</td>
                                    <td>{{obj.glosa_etapa}}</td>
                                    <td>{{obj.glosa_estado}}</td>
                                    <!-- <td>{{obj.fecha_agendamiento | date: 'dd/MM/yy HH:mm:ss'}}</td> -->
                                </tr>
                                <tr *ngIf=" !cotizaciones || cotizaciones.length<=0">
                                    <td colspan="12">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>