<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Asignar Ejecutivos a {{etiquetas.sucursal}} {{sucursal.glosa_sucursal}}</nb-card-header>
                <nb-card-body>
                    <form #formFiltros="ngForm" class="form-horizontal" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-3 input-group input-group-sm">
                                <input type="text" class="form-control input-sm" [(ngModel)]="searchText" name="nombre"
                                    id="nombre" placeholder="Escriba para buscar por nombre" />
                            </div>
                        </div>
                        <br>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button status="success" nbButton size="small" type="button"
                                    (click)="agregar_ejecutivo()"><i class="fa fa-plus"></i> Ejecutivo</button>
                                <!-- <button class="btn btn-secondary " nbButton size="small" type="button" (click)="buscar()">Limpiar Filtro</button> -->
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>Seleccione Ejecutivos a Asignar</nb-card-header>
                <nb-card-body>
                    <div class="row col col-12">
                        <div class="col-sm-4" *ngFor="let obj of ejecutivos | filterNombre: searchText">
                            <nb-checkbox name="activo" [(ngModel)]="obj.seleccionado" status="success" class="col-sm-4">
                                <a (click)="editar_ejecutivo(obj)" class="text-info">{{obj.nombre_completo}}
                                    ({{obj.glosa_perfil}})</a><br>
                                <span>({{obj.email}})</span>
                            </nb-checkbox>
                        </div>
                        <div class="col-sm-4" *ngIf="ejecutivos.length < 1">
                            <h5>No se han encontrado registros</h5>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" (click)="submit()"
                            type="submit">Asignar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>