<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">404 Página no encontrada</h2>
          <small class="sub-title">La página a la cual intenta acceder no existe</small>
          <button (click)="goToHome()" type="button" nbButton size="medium" hero>
            Llevame a mi inicio!
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>