<nb-card>
    <nb-card-header>
        <span>{{ modalHeader }}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <nb-card *ngFor="let dup of duplicadas">
            <nb-card-header>
                <div class="row">
                    <div class="col-sm-7">
                        <h5><span class="font-w-light">Cotización: </span>{{dup.id_cotizacion}}. <span
                                class="font-w-light">Estado: </span>{{dup.glosa_estado}}</h5>
                    </div>
                    <div class="col-sm-5">
                        <span class="font-w-light">({{dup.fecha_cotizacion | date: 'dd/MM/yy HH:mm'}})</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <h5><span class="font-w-light">{{etiquetas.item}}:</span> {{dup.glosa_item}}</h5>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                {{dup.comentario_cotizacion ? dup.comentario_cotizacion : 'Sin Comentarios'}}.
            </nb-card-body>
        </nb-card>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="closeModal()">Cerrar</button>
    </nb-card-footer>
</nb-card>