<style type="text/css">
    p {
        overflow-wrap: break-word;
    }
</style>
<nb-card>
    <nb-card-header>
        <span>Agenda {{getDate(objeto.fecha_ultimo_agendamiento, 'DD-MM-YYYY HH:mm')}} hrs.</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-3">
                <h5>Rut</h5>
                <p>{{objeto.rut}}</p>
            </div>
            <div class="col-md-5">
                <h5>Nombre</h5>
                <p>{{objeto.nombre_completo}}</p>
            </div>
            <div class="col-md-4">
                <h5>Estado Actual</h5>
                <p>{{objeto.glosa_estado}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>{{etiquetas.sucursal}}</h5>
                <p>{{objeto.glosa_sucursal}}</p>
            </div>
            <div class="col-md-5">
                <h5>{{etiquetas.item}}</h5>
                <p>{{objeto.glosa_item}}</p>
            </div>
            <div class="col-md-4">
                <h5>Antecedentes</h5>
                <p>{{objeto.antecedentes}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Telefono</h5>
                <p *ngFor="let tel of telefonos">{{tel}}</p>
            </div>
            <div class="col-md-6">
                <h5>Correo</h5>
                <p *ngFor="let em of emails">{{em}}</p>
            </div>
            <div class="col-md-3">
                <h5>CV {{etiquetas.ejecutivo}}</h5>
                <p>{{objeto.cv_ejecutivo==1 ? 'Si' : 'No' }}</p>
            </div>
        </div>
        <hr>
        <div class="row"
            *ngIf="objeto.cv_ejecutivo!=1 && ( objeto.id_etapa==4 || objeto.id_etapa==5 ) && objeto.fecha_primera_visita==null">
            <div class="col-md-12">
                <h5>Confirmación de Visita</h5>
                <div class="input-group input-group">
                    <textarea required rows="3" placeholder="Escriba comentarios aqui..." [(ngModel)]="comentario"
                        name="comentario" class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="objeto.cv_ejecutivo==1 || objeto.fecha_primera_visita!=null">
            <div class="col-md-12">
                <h5>Visita Confirmada {{getDate(objeto.fecha_primera_visita, 'DD-MM-YYYY HH:mm')}}</h5>
            </div>
        </div>
        <div class="row"
            *ngIf="objeto.cv_ejecutivo!=1 && ( objeto.id_etapa==4 || objeto.id_etapa==5 ) && objeto.fecha_primera_visita==null">
            <div class="col-md-12">
                <nb-checkbox [(ngModel)]="confirma_accion" status="success">Deseo Guardar la Confirmación de esta Agenda
                </nb-checkbox>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="closeModal()">Cancelar</button>
        <button nbButton status="danger" size="medium" [disabled]="!confirma_accion"
            *ngIf="objeto.cv_ejecutivo!=1 && (objeto.id_etapa==4 || objeto.id_etapa==5 || objeto.id_etapa==6)"
            (click)="confirmar_agenda(2)">No asistio</button>
        <button nbButton status="success" size="medium" [disabled]="!confirma_accion"
            *ngIf="objeto.cv_ejecutivo!=1 && (objeto.id_etapa==4 || objeto.id_etapa==5 || objeto.id_etapa==6)"
            (click)="confirmar_agenda(1)">Si asistio</button>
    </nb-card-footer>
</nb-card>