<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Listado {{etiquetas.compro}}</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span> <button status="success"
                            nbButton size="small" type="button" (click)="agregar()"><i class="fa fa-plus"></i> Motivo
                            {{etiquetas.compro}}</button>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Fecha Creacion</th>
                                <th>Activo</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let obj of lista">
                                    <!-- Padres -->
                                    <tr>
                                        <!-- Padres -->
                                        <td>
                                            <a (click)="boton_hijos(obj)" title="Ver hijos"
                                                *ngIf="obj.hijos.length>0 && obj.activo == 1"><i
                                                    class="fa fa-plus text-success" *ngIf="!obj.ver_hijos"
                                                    aria-hidden="true"></i> <i class="fa fa-times text-danger"
                                                    *ngIf="obj.ver_hijos" aria-hidden="true"></i></a>
                                            <ng-container *ngFor="let accion of acciones">
                                                <a class="text-info" (click)="editar(obj)" title="Editar"
                                                    *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                        aria-hidden="true"></i></a>
                                                <!-- Anular usuarios -->
                                                <a class="text-danger" (click)="anular_compro[obj.id_compro] = 1"
                                                    *ngIf="accion.id_accion==11 && anular_compro[obj.id_compro] != 1 && obj.activo == 1"
                                                    title="Anular"><i class="{{accion.icon}}"
                                                        aria-hidden="true"></i></a>
                                                <a class="text-warning" (click)="anular(obj)"
                                                    *ngIf="accion.id_accion==11 && anular_compro[obj.id_compro] == 1"
                                                    title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                <a class="text-secondary" (click)="anular_compro[obj.id_compro] = 0"
                                                    *ngIf="accion.id_accion==11 && anular_compro[obj.id_compro] == 1"
                                                    title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                <!-- Habilitar usuarios -->
                                                <a class="text-success" (click)="habilitar_compro[obj.id_compro] = 1"
                                                    *ngIf="accion.id_accion==11 && habilitar_compro[obj.id_compro] != 1 && obj.activo == 0"
                                                    title="Habilitar"><i class="{{accion.icon}}"
                                                        aria-hidden="true"></i></a>
                                                <a class="text-warning" (click)="habilitar(obj)"
                                                    *ngIf="accion.id_accion==11 && habilitar_compro[obj.id_compro] == 1"
                                                    title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                <a class="text-secondary" (click)="habilitar_compro[obj.id_compro] = 0"
                                                    *ngIf="accion.id_accion==11 && habilitar_compro[obj.id_compro] == 1"
                                                    title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                <a class="text-primary" (click)="ordenar(obj, lista)" title="Ordenar"
                                                    *ngIf="accion.id_accion==15 && lista.length>1"><i
                                                        class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            </ng-container>
                                        </td>
                                        <td>{{obj.id_compro}}</td>
                                        <td>{{obj.glosa_compro}}</td>
                                        <td>{{getDate(obj.created_at,'DD/MM/YYYY HH:mm')}}</td>
                                        <td>{{obj.activo==1 ? 'Si' : 'No'}}</td>
                                    </tr>
                                    <tr *ngIf="obj.ver_hijos">
                                        <td></td>
                                        <td colspan="6">
                                            <table>
                                                <thead>
                                                    <th></th>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Fecha</th>
                                                    <th>Activo</th>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let child of obj.hijos">
                                                        <tr>
                                                            <td>
                                                                <a (click)="boton_nietos(child)" title="Ver hijos"
                                                                    *ngIf="child.nietos.length>0 && child.activo == 1"><i
                                                                        class="fa fa-plus text-success"
                                                                        *ngIf="!child.ver_nietos"
                                                                        aria-hidden="true"></i> <i
                                                                        class="fa fa-times text-danger"
                                                                        *ngIf="child.ver_nietos"
                                                                        aria-hidden="true"></i></a>
                                                                <ng-container *ngFor="let accion of acciones">
                                                                    <a class="text-info" (click)="editar(child)"
                                                                        title="Editar" *ngIf="accion.id_accion==10"><i
                                                                            class="{{accion.icon}}"
                                                                            aria-hidden="true"></i></a>
                                                                    <!-- Anular usuarios -->
                                                                    <a class="text-danger"
                                                                        (click)="anular_compro[child.id_compro] = 1"
                                                                        *ngIf="accion.id_accion==11 && anular_compro[child.id_compro] != 1 && child.activo == 1"
                                                                        title="Anular"><i class="{{accion.icon}}"
                                                                            aria-hidden="true"></i></a>
                                                                    <a class="text-warning" (click)="anular(child)"
                                                                        *ngIf="accion.id_accion==11 && anular_compro[child.id_compro] == 1"
                                                                        title="Confirmar"><i class="fa fa-check"
                                                                            aria-hidden="true"></i></a>
                                                                    <a class="text-secondary"
                                                                        (click)="anular_compro[child.id_compro] = 0"
                                                                        *ngIf="accion.id_accion==11 && anular_compro[child.id_compro] == 1"
                                                                        title="Cancelar"><i class="fa fa-times"
                                                                            aria-hidden="true"></i></a>
                                                                    <!-- Habilitar usuarios -->
                                                                    <a class="text-success"
                                                                        (click)="habilitar_compro[child.id_compro] = 1"
                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[child.id_compro] != 1 && child.activo == 0"
                                                                        title="Habilitar"><i class="{{accion.icon}}"
                                                                            aria-hidden="true"></i></a>
                                                                    <a class="text-warning" (click)="habilitar(child)"
                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[child.id_compro] == 1"
                                                                        title="Confirmar"><i class="fa fa-check"
                                                                            aria-hidden="true"></i></a>
                                                                    <a class="text-secondary"
                                                                        (click)="habilitar_compro[child.id_compro] = 0"
                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[child.id_compro] == 1"
                                                                        title="Cancelar"><i class="fa fa-times"
                                                                            aria-hidden="true"></i></a>
                                                                    <a class="text-primary"
                                                                        (click)="ordenar(child, obj.hijos)"
                                                                        title="Ordenar"
                                                                        *ngIf="accion.id_accion==15 && obj.hijos.length>1"><i
                                                                            class="{{accion.icon}}"
                                                                            aria-hidden="true"></i></a>
                                                                </ng-container>
                                                            </td>
                                                            <td>{{child.id_compro}}</td>
                                                            <td>{{child.glosa_compro}}</td>
                                                            <td>{{getDate(child.created_at,'DD/MM/YYYY HH:mm')}}</td>
                                                            <td>{{child.activo==1 ? 'Si' : 'No'}}</td>
                                                        </tr>
                                                        <tr *ngIf="child.ver_nietos">
                                                            <td></td>
                                                            <td colspan="6">
                                                                <table>
                                                                    <thead>
                                                                        <th></th>
                                                                        <th>ID</th>
                                                                        <th>Nombre</th>
                                                                        <th>Fecha</th>
                                                                        <th>Activo</th>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let nieto of child.nietos">
                                                                            <td>
                                                                                <ng-container
                                                                                    *ngFor="let accion of acciones">
                                                                                    <a class="text-info"
                                                                                        (click)="editar(nieto)"
                                                                                        title="Editar"
                                                                                        *ngIf="accion.id_accion==10"><i
                                                                                            class="{{accion.icon}}"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <!-- Anular usuarios -->
                                                                                    <a class="text-danger"
                                                                                        (click)="anular_compro[nieto.id_compro] = 1"
                                                                                        *ngIf="accion.id_accion==11 && anular_compro[nieto.id_compro] != 1 && nieto.activo == 1"
                                                                                        title="Anular"><i
                                                                                            class="{{accion.icon}}"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <a class="text-warning"
                                                                                        (click)="anular(nieto)"
                                                                                        *ngIf="accion.id_accion==11 && anular_compro[nieto.id_compro] == 1"
                                                                                        title="Confirmar"><i
                                                                                            class="fa fa-check"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <a class="text-secondary"
                                                                                        (click)="anular_compro[nieto.id_compro] = 0"
                                                                                        *ngIf="accion.id_accion==11 && anular_compro[nieto.id_compro] == 1"
                                                                                        title="Cancelar"><i
                                                                                            class="fa fa-times"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <!-- Habilitar usuarios -->
                                                                                    <a class="text-success"
                                                                                        (click)="habilitar_compro[nieto.id_compro] = 1"
                                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[nieto.id_compro] != 1 && nieto.activo == 0"
                                                                                        title="Habilitar"><i
                                                                                            class="{{accion.icon}}"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <a class="text-warning"
                                                                                        (click)="habilitar(nieto)"
                                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[nieto.id_compro] == 1"
                                                                                        title="Confirmar"><i
                                                                                            class="fa fa-check"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <a class="text-secondary"
                                                                                        (click)="habilitar_compro[nieto.id_compro] = 0"
                                                                                        *ngIf="accion.id_accion==11 && habilitar_compro[nieto.id_compro] == 1"
                                                                                        title="Cancelar"><i
                                                                                            class="fa fa-times"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <a class="text-primary"
                                                                                        (click)="ordenar(nieto, child.nietos)"
                                                                                        title="Ordenar"
                                                                                        *ngIf="accion.id_accion==15 && child.nietos.length>1"><i
                                                                                            class="{{accion.icon}}"
                                                                                            aria-hidden="true"></i></a>
                                                                                </ng-container>
                                                                            </td>
                                                                            <td>{{nieto.id_compro}}</td>
                                                                            <td>{{nieto.glosa_compro}}</td>
                                                                            <td>{{getDate(nieto.created_at,'DD/MM/YYYY HH:mm')}}
                                                                            </td>
                                                                            <td>{{nieto.activo==1 ? 'Si' : 'No'}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </ng-container>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </ng-container>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>