<nb-card>
  <nb-card-header>
    <span>Generar Matriz</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <h5>¿Esta seguro de generar bloques de {{bloque}} min desde {{getDate(desde, 'DD-MM-YY')}} hasta
      {{getDate(hasta, 'DD-MM-YY')}}?</h5>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" size="medium" [disabled]="loading==1" (click)="submit()">
      <span *ngIf="loading==0">Aceptar</span>
      <span *ngIf="loading==1">Cargando <i style="animation: spin 1s infinite linear;" class="fa fa-spinner"></i></span>
    </button>
    <button nbButton status="secondary" size="medium" (click)="closeModal()">Cancelar</button>
  </nb-card-footer>
</nb-card>