<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar Registro</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="origen" class="col-sm-6 col-form-label">Origen <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control input-sm" formControlName="origen" id="origen">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let ori of origenes" [(value)]="ori.id">{{ori.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="form.controls.origen.errors && form.controls.origen.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="campania" class="col-sm-6 col-form-label">Campaña <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control input-sm" formControlName="campania" id="campania">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let cam of campanias" [(value)]="cam.id">{{cam.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="form.controls.campania.errors && form.controls.campania.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="rut" class="col-sm-6 col-form-label">Rut <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="rut" required id="rut"
                                    placeholder="Rut">
                            </div>
                        </div>
                        <div *ngIf="form.controls.rut.errors && form.controls.rut.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="nombre" required id="nombre"
                                    placeholder="nombre">
                            </div>
                        </div>
                        <div *ngIf="form.controls.nombre.errors && form.controls.nombre.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="apellidos" class="col-sm-6 col-form-label">Apellidos <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="apellidos" required
                                    id="apellidos" placeholder="Apellidos">
                            </div>
                        </div>
                        <div *ngIf="form.controls.apellidos.errors && form.controls.apellidos.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="telefono" class="col-sm-6 col-form-label">Telefono <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="telefono" required
                                    id="telefono" placeholder="Telefono">
                            </div>
                        </div>
                        <div *ngIf="form.controls.telefono.errors && form.controls.telefono.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="correo" class="col-sm-6 col-form-label">Correo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="email" email class="form-control" formControlName="correo" required
                                    id="correo" placeholder="Correo">
                            </div>
                        </div>
                        <div *ngIf="form.controls.correo.errors && form.controls.correo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="interes" class="col-sm-6 col-form-label">Interes <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="interes" required id="interes"
                                    placeholder="Interes">
                            </div>
                        </div>
                        <div *ngIf="form.controls.interes.errors && form.controls.interes.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="comentario" class="col-sm-6 col-form-label">Comentario <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="comentario" id="comentario"
                                    placeholder="Comentario">
                            </div>
                        </div>
                        <div *ngIf="form.controls.comentario.errors && form.controls.comentario.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row" *ngFor="let campo of camposvariables">
                            <label for="{{campo.campo.identificador}}"
                                class="col-sm-6 col-form-label">{{campo.campo.glosa_campovariable}}</label>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='A'">
                                <input type="text" class="form-control input-sm"
                                    formControlName="{{campo.campo.identificador}}" id="{{campo.campo.identificador}}"
                                    placeholder="{{campo.glosa_campovariable}}">
                            </div>
                            <div class="input-group input-group-sm col-sm-6" *ngIf="campo.campo.tipo=='C'">
                                <select class="form-control input-sm" formControlName="{{campo.campo.identificador}}"
                                    id="{{campo.campo.identificador}}">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of campo.lista" [(value)]="reg.id_valor_variable">
                                        {{reg.glosa_valor_variable}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar y Reactivar</button>
                        <button nbButton status="secondary" size="medium" [disabled]="!form.valid"
                            (click)="salir_sin_guardar()" type="button">Salir sin Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>