<nb-card size="medium">
    <nb-card-header>
        <span>Ordenar lista {{modulo}}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" class="form-horizontal">
            <div class="form-group row">
                <label for="tipo_orden" class="col-sm-4 col-form-label">Orden
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <label class="radio-inline"><input type="radio" formControlName="tipo_orden" value="1">Al
                        inicio</label>
                    <label class="radio-inline"><input type="radio" formControlName="tipo_orden" value="2">Al
                        final</label>
                    <label class="radio-inline"><input type="radio" formControlName="tipo_orden" value="3">Despues
                        de</label>
                </div>
            </div>
            <div class="form-group row" *ngIf="form.value.tipo_orden == 3">
                <label for="despues" class="col-sm-4 col-form-label">Despues de
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <select class="form-control" (change)="cambio_despues($event)" formControlName="despues"
                        id="despues">
                        <option value="">Seleccione</option>
                        <option *ngFor="let obj of lista" value="obj['id_'+modulo]">{{obj['glosa_'+modulo]}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="form.controls.despues.errors && form.controls.despues.dirty"
                class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="secondary" size="medium" (click)="closeModal()">Cancelar</button>
        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()">Guardar y Actualizar</button>
    </nb-card-footer>
</nb-card>

<!-- <div class="modal-header">
    <span>Ordenar lista {{modulo}}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" class="form-horizontal">
        <div class="form-group row">
            <label for="tipo_orden" class="col-sm-4 col-form-label">Orden
                <span class="text text-danger">*</span>
            </label>
            <div class="input-group input-group-sm col-sm-8">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="1" formControlName="tipo_orden">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Al inicio</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="2" formControlName="tipo_orden">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Al final</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="3" formControlName="tipo_orden">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Despues de</span>
                </label>
            </div>
        </div>
        <div class="form-group row" *ngIf="form.value.tipo_orden == 3">
            <label for="despues" class="col-sm-4 col-form-label">Despues de
                <span class="text text-danger">*</span>
            </label>
            <div class="input-group input-group-sm col-sm-8">
                <select class="form-control" (change)="cambio_despues($event)" formControlName="despues" id="despues">
                    <option value="">Seleccione</option>
                    <option *ngFor="let obj of lista" value="obj['id_'+modulo]">{{obj['glosa_'+modulo]}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="form.controls.despues.errors && form.controls.despues.dirty"
            class="form-group row alert alert-danger">
            <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
            <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button nbButton status="secondary" size="medium" (click)="closeModal()">Cancelar</button>
    <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()">Guardar y Actualizar</button>
</div> -->