<div>
    <div class="row">
        <div class="col-md-12 col-xxxl-12">
            <nb-card>
                <nb-card-header>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                Definición Matriz Horarios
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-4">
                                <div class="input-group input-group-sm">
                                    <input [ngModelOptions]="{standalone: true}" placeholder="Desde"
                                        class="form-control input" [autoClose]="true"
                                        (ngModelChange)="cambio_fecha_desde($event)" [(ngModel)]="fecha_desde"
                                        [firstDayOfWeek]="1" [minDate]="minDate" [maxDate]="fecha_hasta" type="text"
                                        readonly="readonly" ngbDatepicker #d1="ngbDatepicker" />
                                    <span class="input-group-btn">
                                        <button nbButton size="small" status="info"  (click)="d1.toggle()"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group input-group-sm">
                                    <input [ngModelOptions]="{standalone: true}" placeholder="Hasta"
                                        class="form-control input" [autoClose]="true"
                                        (ngModelChange)="cambio_fecha_hasta($event)" [(ngModel)]="fecha_hasta"
                                        [firstDayOfWeek]="1" [minDate]="fecha_desde" type="text" readonly="readonly"
                                        ngbDatepicker #d2="ngbDatepicker" />
                                    <span class="input-group-btn">
                                        <button nbButton size="small" status="info"  (click)="d2.toggle()"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="input-group input-group-sm">
                                    <input [ngModelOptions]="{standalone: true}" placeholder="Tamaño Bloque"
                                        class="form-control input" [(ngModel)]="definicion.tamano_bloque" type="number"
                                        step="10" />
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <button
                                    [disabled]="seleccionados.length<=0 || definicion.fecha_desde=='' || definicion.fecha_hasta=='' || definicion.tamano_bloque<=0 || loading==1"
                                    status="success" shape="round" nbButton size="small" (click)="generar_matriz()"
                                    type="submit">
                                    <span *ngIf="loading==0">Generar</span>
                                    <span *ngIf="loading==1">Cargando <i style="animation: spin 1s infinite linear;"
                                            class="fa fa-spinner"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </nb-card-header>
                <nb-card-body>
                    <table class="table table-striped table-responsive" style="text-align: center">
                        <thead>
                            <tr>
                                <th colspan="3">Datos</th>
                                <th colspan="4">Lunes a Viernes</th>
                                <th colspan="4">Sabado</th>
                                <th colspan="4">Domingo</th>
                            </tr>
                            <tr>
                                <!-- Datos -->
                                <th colspan="2">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control input-sm" [(ngModel)]="searchText"
                                            name="nombre" id="nombre" placeholder="Filtrar por Sucursal" />
                                    </div>
                                </th>
                                <th></th>
                                <!-- Datos -->
                                <!-- Lunes a Viernes -->
                                <th colspan="2">AM</th>
                                <th colspan="2">PM</th>
                                <!-- Lunes a Viernes -->
                                <!-- Sabado -->
                                <th colspan="2">AM</th>
                                <th colspan="2">PM</th>
                                <!-- Sabado -->
                                <!-- Domingo -->
                                <th colspan="2">AM</th>
                                <th colspan="2">PM</th>
                                <!-- Domingo -->
                            </tr>
                            <tr>
                                <th>
                                    <form [formGroup]="formSelTodos">
                                        <nb-checkbox formControlName="seleccionar_todo" status="success"></nb-checkbox>
                                    </form>
                                </th>
                                <th>Sucursal</th>
                                <th>Ejecutivo</th>
                                <th>Ini</th>
                                <th>Fin</th>
                                <th>Ini</th>
                                <th>Fin</th>
                                <th>Ini</th>
                                <th>Fin</th>
                                <th>Ini</th>
                                <th>Fin</th>
                                <th>Ini</th>
                                <th>Fin</th>
                                <th>Ini</th>
                                <th>Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of matriz | filterSucursal: searchText">
                                <td>
                                    <nb-checkbox [(ngModel)]="obj.seleccionado" (change)="validar_seleccionados()"
                                        status="success"></nb-checkbox>
                                </td>
                                <!-- <td>
                                <a class="text-info"><i class="fa fa-edit"></i></a>
                            </td> -->
                                <td>{{obj.sucursal}}</td>
                                <td><a title="Editar" (click)="editar(obj)"
                                        class="text-info">{{obj.nombre_ejecutivo}}</a></td>
                                <td>{{getTime(obj.lvami)}}</td>
                                <td>{{getTime(obj.lvamf)}}</td>
                                <td>{{getTime(obj.lvpmi)}}</td>
                                <td>{{getTime(obj.lvpmf)}}</td>
                                <td>{{getTime(obj.saami)}}</td>
                                <td>{{getTime(obj.saamf)}}</td>
                                <td>{{getTime(obj.sapmi)}}</td>
                                <td>{{getTime(obj.sapmf)}}</td>
                                <td>{{getTime(obj.doami)}}</td>
                                <td>{{getTime(obj.doamf)}}</td>
                                <td>{{getTime(obj.dopmi)}}</td>
                                <td>{{getTime(obj.dopmf)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
          <nb-card>
              <nb-card-body>
                  <div>
                      <button nbButton status="success" size="medium" (click)="submit()" type="submit">Guardar</button>
                      <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin Guardar</button>
                      <span>Los campos con ( * ) son obligatorios</span>
                  </div>
              </nb-card-body>
          </nb-card>
      </div>
  </div> -->
</div>