<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Parametros</nb-card-header>
                <nb-card-body>
                    <form>
                        <ng-container *ngFor="let param of parametros">
                            <div class="row form-group">
                                <label class="col-sm-12 col-form-label">{{param.descripcion}} (Valor desde {{param.min}}
                                    hasta {{param.max}}) <span *ngIf="param.valido==0"
                                        class="text text-danger">{{param.mensaje}}</span></label>
                                <div class="input-group input-group-sm col-sm-6">
                                    <input type="number" class="form-control" required min="{{param.min}}"
                                        max="{{param.max}}" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="param.valor_parametro" id="{{param.identificador}}"
                                        placeholder="{{param.identificador}}" (change)="validar(param)">
                                </div>
                            </div>
                            <hr>
                        </ng-container>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="verificar()" (click)="submit()"
                            type="submit">Guardar</button>
                        <!-- <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin Guardar</button> -->
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>