<div>
    <h3>Reporte Efectividad</h3>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <form [formGroup]="formFiltros" class="form-inline">
                        <!-- <div class="col col-sm-4">
                            <select class="form-control" formControlName="periodo">
                                <option value="">Periodo</option>
                                <option *ngFor="let per of periodos" value="{{per.periodo}}">{{per.periodo}}</option>
                            </select>
                        </div> -->
                        <div class="col-md-3 input-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="cambio_fecha_ini($event)" [(ngModel)]="fecha_gestion_ini"
                                placeholder="Desde" [autoClose]="true" name="fecha_gestion_ini" readonly
                                [maxDate]="fecha_gestion_fin" ngbDatepicker #d_fecha_ini="ngbDatepicker">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_fecha_ini.toggle()"
                                    type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3 input-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="cambio_fecha_fin($event)" [(ngModel)]="fecha_gestion_fin"
                                placeholder="Hasta" [minDate]="fecha_gestion_ini" [autoClose]="true"
                                name="fecha_gestion_fin" readonly ngbDatepicker #d_fecha_fin="ngbDatepicker">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_fecha_fin.toggle()"
                                    type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!formFiltros.valid || cargando==1" (click)="submit()" nbButton size="small"
                            status="primary">Cargar
                            Informe</button>
                        <div class="form-group col-md-3" *ngIf="cargando==1">
                            Cargando <i style="animation: spin 1s infinite linear;" class="fa fa-spinner"></i>
                        </div>
                    </form>
                </nb-card-header>
                <nb-card-header>
                    Gráfico
                    <!-- <button type="submit" (click)="cargar_excel()" [disabled]="disabled_resumen==1" status="success" nbButton size="small">Cargar Excel</button>                    
                    <button type="submit" (click)="cargar_excel_detalle()" [disabled]="disabled_detalle==1" status="success" nbButton size="small">Cargar Excel Detalle</button> -->
                </nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <chart type="horizontalBar" [data]="data" [options]="options"></chart>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>
                    Resumen
                </nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th>Nombre Asesor</th>
                                <th>Gestiones</th>
                                <th>Cotizaciones</th>
                                <th>Agendamientos</th>
                                <th>Confirmaciones</th>
                                <th>Reservas</th>
                                <th>{{etiquetas.compro}}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td>{{obj.nombre_completo}}</td>
                                    <td>{{obj.gestiones}}</td>
                                    <td>{{obj.cotizaciones}}</td>
                                    <td>{{obj.agendados}}</td>
                                    <td>{{obj.confirmadas}}
                                        ({{obj.confirmaciones/obj.agendados | porcentaje: '2.0-0'}})
                                    </td>
                                    <td>{{obj.reservas}} ({{obj.reservas/obj.confirmaciones | porcentaje: '2.0-0'}})
                                    </td>
                                    <td>{{obj.compraron}} ({{obj.compraron/obj.reservas | porcentaje: '2.0-0'}})</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                            <tfoot style="background: #c7d3dc">
                                <tr>
                                    <th>Total</th>
                                    <th>{{footer.total_gestiones ? footer.total_gestiones : 0 }}</th>
                                    <th>{{footer.total_cotizaciones ? footer.total_cotizaciones : 0 }}</th>
                                    <th>{{footer.total_agendados ? footer.total_agendados : 0 }}</th>
                                    <th>{{footer.total_confirmaciones ? footer.total_confirmaciones : 0}}
                                        ({{footer.total_confirmaciones/footer.total_agendados | porcentaje: '2.0-0'}})
                                    </th>
                                    <th>{{footer.total_reservas}}
                                        ({{footer.total_reservas/footer.total_confirmaciones | porcentaje: '2.0-0'}})
                                    </th>
                                    <th>{{footer.total_compraron}}
                                        ({{footer.total_compraron/footer.total_reservas | porcentaje: '2.0-0'}})</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>