<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Visualizar Email </nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="para" class="col-sm-6 col-form-label">Para <!-- <span
                                    class="text-danger">*</span> --></label>

                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="para" required id="para"
                                    placeholder="Para">
                            </div>
                            <!-- <small class="form-text">Para separar cuentas de correos y/o tags utilizar "," o
                                ";".</small> -->
                        </div>
                        <div *ngIf="form.controls.para.errors && form.controls.para.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="copia" class="col-sm-6 col-form-label">Copia </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="copia" id="copia"
                                    placeholder="Copia">
                            </div>
                            <!-- <small class="form-text">Para separar cuentas de correos y/o tags utilizar "," o
                                ";".</small> -->
                        </div>
                        <div *ngIf="form.controls.copia.errors && form.controls.copia.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="asunto" class="col-sm-6 col-form-label">Asunto <!-- <span
                                    class="text-danger">*</span> --></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="asunto" required id="asunto"
                                    placeholder="Asunto">
                            </div>
                        </div>
                        <div *ngIf="form.controls.asunto.errors && form.controls.asunto.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row col col-md-12">
                            <div class="col col-md-12">
                                <ckeditor [config]="editor_config" [(ngModel)]="editor_model"
                                    [ngModelOptions]="{standalone: true}"></ckeditor>
                            </div>
                            <!-- <div class="col col-md-4">
                                <h5>Tags</h5>
                                <span *ngIf="tags.length<=0">Seleccione tipo para desplegar tags disponibles</span>
                                <hr>
                                <div class="row" *ngFor="let tag of tags">[[{{tag.glosa_tag}}]]</div>
                            </div> -->
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Volver</button>
                        <!-- <span>Los campos con ( * ) son obligatorios</span> -->
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>