@mixin nb-buttons {
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.2rem;
  }

  .action-icon {
    @include nb-ltr(margin-right, 0.5rem);
    @include nb-rtl(margin-left, 0.5rem);
  }

  .actions-card {
    height: 8rem;
  }
} 
  
