<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar Motivo</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="id_estado" class="col-sm-6 col-form-label">Estado <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_estado" required id="id_estado">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let obj of estados" value="{{obj.id}}">{{obj.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="form.controls.id_estado.errors && form.controls.id_estado.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="glosa_motivo" class="col-sm-6 col-form-label">Nombre Motivo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_motivo" required
                                    id="glosa_motivo" placeholder="Nombre_motivo">
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_motivo.errors && form.controls.glosa_motivo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="form.controls.activo.errors && form.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>