<nb-card>
    <nb-card-header>
        <span>{{ modalHeader }}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="campos">
            <div class="form-group row">
                <label for="rut" class="col-sm-4 col-form-label">Rut<span class="text text-danger">*</span></label>
                <div class="input-group input-group-sm col-sm-6">
                    <!-- <select class="form-control input-sm" formControlName="rut" id="rut">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required formControlName="rut"
                        id="rut" placeholder="Rut">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.rut!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.rut==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
                <!-- <i style="margin-top: 3%" *ngIf="" class="fa fa-circle text-warning" title="Pendiente" aria-hidden="true"></i> -->
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-sm-4 col-form-label">Nombre<span
                        class="text text-danger">*</span></label>
                <div class="input-group input-group-sm col-sm-6">
                    <!-- <select class="form-control input-sm" formControlName="nombre" readonly="readonly" id="nombre">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required
                        formControlName="nombre" id="nombre" placeholder="Nombre">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.nombre!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.nombre==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
            </div>
            <div class="form-group row">
                <label for="apellidos" class="col-sm-4 col-form-label">Apellidos<span
                        class="text text-danger">*</span></label>
                <div class="input-group input-group-sm col-sm-6">
                    <!-- <select class="form-control input-sm" formControlName="apellidos" readonly="readonly" id="apellidos">
                            <option value="">Seleccione</option>
                            <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                        </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required
                        formControlName="apellidos" id="apellidos" placeholder="Apellidos">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.apellidos!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.apellidos==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
            </div>
            <div class="form-group row">
                <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
                <div class="input-group input-group-sm col-sm-6">
                    <!--  <select class="form-control input-sm" formControlName="telefono" readonly="readonly" id="telefono">
                            <option value="">Seleccione</option>
                            <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                        </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required
                        formControlName="telefono" id="telefono" placeholder="Telefono">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.telefono==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.telefono!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
            </div>
            <div class="form-group row">
                <label for="correo" class="col-sm-4 col-form-label">Correo</label>
                <div class="input-group input-group-sm col-sm-6">
                    <!-- <select class="form-control input-sm" formControlName="correo" readonly="readonly"
                    id="correo">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required
                        formControlName="correo" id="correo" placeholder="Correo">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.correo!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.correo==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
            </div>
            <div class="form-group row">
                <label for="interes" class="col-sm-4 col-form-label">Interes</label>
                <div class="input-group input-group-sm col-sm-6">
                    <!-- <select class="form-control input-sm" formControlName="interes" readonly="readonly" id="interes">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select> -->
                    <input type="text" readonly="readonly" class="form-control input-sm" required
                        formControlName="interes" id="interes" placeholder="Interes">
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.interes!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
                <i style="margin-top: 3%" *ngIf="campos.value.interes==''" class="fa fa-times-circle-o text-danger"
                    title="Error" aria-hidden="true"></i>
            </div>
            <div class="form-group row">
                <label for="comentario" class="col-sm-4 col-form-label">Comentario</label>
                <div class="input-group input-group-sm col-sm-6">
                    <select class="form-control input-sm" formControlName="comentario" id="comentario">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select>
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value.comentario!=''" class="ion-checkmark-circled text-success"
                    title="Enviado" aria-hidden="true"></i>
            </div>
            <div class="form-group row" *ngFor="let campo of camposvariables">
                <label for="{{campo.campo.identificador}}"
                    class="col-sm-4 col-form-label">{{campo.campo.glosa_campovariable}}</label>
                <div class="input-group input-group-sm col-sm-6">
                    <select class="form-control input-sm" formControlName="{{campo.campo.identificador}}"
                        id="{{campo.campo.identificador}}">
                        <option value="">Seleccione</option>
                        <option *ngFor="let reg of columnas_lista" value="{{reg}}">{{reg}}</option>
                    </select>
                </div>
                <i style="margin-top: 3%" *ngIf="campos.value[campo.campo.identificador]!=''"
                    class="ion-checkmark-circled text-success" title="Enviado" aria-hidden="true"></i>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success" size="medium" [disabled]="!campos.valid" (click)="submit()"
            type="submit">Continuar</button>
        <button nbButton status="secondary" size="medium" (click)="closeModal()">Cancelar</button>
    </nb-card-footer>
</nb-card>