<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="glosa_campovariable" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_campovariable" required
                                    id="glosa_campovariable" placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_campovariable.errors && form.controls.glosa_campovariable.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="tipo" class="col-sm-6 col-form-label">Tipo <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" (change)="change()" formControlName="tipo" required
                                    id="tipo">
                                    <option value="">Seleccione</option>
                                    <option value="A">Abierto</option>
                                    <option value="C">Cerrado</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="form.controls.tipo.errors && form.controls.tipo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <ng-container *ngIf="form.value.tipo=='C'">
                            <div class="form-group row">
                                <label for="variables" class="col-sm-6 col-form-label">Valores<span
                                        class="text text-danger">*</span></label>
                                <div class="col-sm-6">
                                    <button status="info" nbButton size="small" (click)="agregar_variable()">
                                        <i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="form-group row" *ngFor="let val of form.value.variables; let $index = index">
                                <label for="variables" class="col-sm-6 col-form-label"></label>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control input-sm"
                                            [ngModelOptions]="{standalone: true}" [readonly]="val.activo==0" required
                                            id="variable" name="val_{{$index}}" [(ngModel)]="val.glosa"
                                            placeholder="Valor">
                                        <span class="input-group-btn">
                                            <button status="danger" nbButton size="small" *ngIf="val.activo==1"
                                                (click)="anular_variable(val,$index)" title="Anular">
                                                <i class="fa fa-ban"></i>
                                            </button>
                                            <button status="success" nbButton size="small" *ngIf="val.activo==0"
                                                (click)="val.activo=1" title="Habilitar">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="form.controls.activo.errors && form.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="alias_carga" class="col-sm-6 col-form-label">Alias Carga <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="alias_carga" id="alias_carga"
                                    placeholder="Alias Carga">
                            </div>
                        </div>
                        <div *ngIf="form.controls.alias_carga.errors && form.controls.alias_carga.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>