<div>
    <div class="row">
        <div class="col-md-7">
            <nb-card>
                <nb-card-header>Bloques Horarios</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <button status="success" nbButton size="small" type="button" (click)="agregar()"><i
                                class="fa fa-plus"></i> Bloque Individual</button>
                        <button status="success" nbButton size="small" type="button" (click)="matriz()"><i
                                class="fa fa-edit"></i> Matriz Horario</button>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th *ngIf="filtros.disponible!=0"></th>
                                <!-- <th>Id</th> -->
                                <th>Ejecutivo</th>
                                <th>Fecha</th>
                                <th>Bloque</th>
                                <th>Estado</th>
                                <th *ngIf="filtros.disponible!=1">Fecha Reserva</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%" *ngIf="filtros.disponible!=0">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10 && obj.disponible==1"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <!-- Anular reservas -->
                                            <a class="text-danger" (click)="anular_reserva[obj.id_reserva] = 1"
                                                *ngIf="accion.id_accion==11 && anular_reserva[obj.id_reserva] != 1 && obj.disponible == 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_reserva[obj.id_reserva] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="anular_reserva[obj.id_reserva] = 0"
                                                *ngIf="accion.id_accion==11 && anular_reserva[obj.id_reserva] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar reservas -->
                                            <a class="text-success" (click)="habilitar_reserva[obj.id_reserva] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_reserva[obj.id_reserva] != 1 && obj.disponible == 1  && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_reserva[obj.id_reserva] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="habilitar_reserva[obj.id_reserva] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_reserva[obj.id_reserva] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <!-- <td>{{obj.id_reserva}}</td> -->
                                    <td>{{obj.nombre_ejecutivo}}</td>
                                    <td>{{obj.fecha}}</td>
                                    <td>{{obj.bloque}}</td>
                                    <td>{{obj.disponible==1 ? 'Disponible' : 'Asignado' }}</td>
                                    <td *ngIf="filtros.disponible!=1">
                                        {{getDate(obj.fecha_reserva,'DD/MM/YYYY HH:mm')}}
                                    </td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-5">
            <nb-card size="medium">
                <nb-card-header>Filtros</nb-card-header>
                <nb-card-body>
                    <form #formFiltros="ngForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <select class="form-control input-sm" [(ngModel)]="filtros.id_ejecutivo"
                                    name="id_ejecutivo" required id="id_ejecutivo">
                                    <option value="">Ejecutivos</option>
                                    <option *ngFor="let eje of ejecutivos" value="{{eje.id}}">{{eje.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group input-group">
                                <input class="form-control" (ngModelChange)="change_fecha($event)" [(ngModel)]="fecha"
                                    placeholder="yyyy-mm-dd" name="fecha" readonly ngbDatepicker
                                    #d_picker="ngbDatepicker" placement="bottom" [autoClose]="true">
                                <div class="input-group-append">
                                    <button nbButton size="medium" status="info" (click)="d_picker.toggle()"
                                        type="button"><i class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <select class="form-control input-sm" [(ngModel)]="filtros.disponible" name="disponible"
                                    required id="disponible">
                                    <option value="null">Estado</option>
                                    <option value="1">Disponible</option>
                                    <option value="0">Asignado</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button status="success" nbButton size="small" type="submit">Buscar</button>
                                <button status="secondary" nbButton size="small" type="button"
                                    (click)="limpiar_filtros()">Limpiar Filtro</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>