<nb-card>
  <nb-card-header>
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <h5>¿Confirma generar una nueva cotización y comenzar un nuevo proceso?</h5>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" outline size="medium" (click)="submit()">Aceptar</button>
    <button nbButton status="danger" outline size="medium" (click)="closeModal()">Cancelar</button>
  </nb-card-footer>
</nb-card>