<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Despachos</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th>Estado</th>
                                <th>ID</th>
                                <th>Asunto</th>
                                <th>Para</th>
                                <th>Fecha A Despachar</th>
                                <th>Fecha Despacho</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td>
                                        <i *ngIf="obj.estado==2" class="ion-checkmark-circled text-success"
                                            title="Enviado" aria-hidden="true"></i>
                                        <i *ngIf="obj.estado==3" class="fa fa-times-circle-o text-danger" title="Error"
                                            aria-hidden="true"></i>
                                        <i *ngIf="obj.estado==1" class="fa fa-circle text-warning" title="Pendiente"
                                            aria-hidden="true"></i>
                                        <!-- <span  class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Sin Procesar" style="cursor:default;"> <i class="ion-checkmark-circled" ></i> </span>
                                        <span  class="badge badge-success" data-toggle="tooltip" data-placement="top" title="Enviado" style="cursor:default;"></span>
                                        <span  class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Error" style="cursor:default;"></span> -->
                                    </td>
                                    <td>{{obj.id_despachador}}</td>
                                    <td>{{obj.asunto}}</td>
                                    <td>{{obj.para}}</td>
                                    <td>{{obj.fecha_a_despachar | date: 'dd/MM/yy HH:mm:ss'}}</td>
                                    <td>{{obj.fecha_despacho | date: 'dd/MM/yy HH:mm:ss'}}</td>
                                    <td>
                                        <ng-container *ngFor="let accion of acciones">
                                            <a (click)="preview(obj)" *ngIf="accion.id_accion == 12" title="Preview"
                                                class="text-info"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a (click)="reenviar(obj)" *ngIf="accion.id_accion == 4" title="Reenviar"
                                                class="text-warning"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i>R</a>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>