<div>
  <div class="row">
    <div>
      <nb-card>
        <nb-card-header>
          <div class="buttons-row">
            Listas
            <button nbButton size="small" outline status="success" (click)="exportar_lista()" title="Preparar Excel"
              [disabled]="excel_loading==1" *ngIf="excel_listo==0"><span *ngIf="excel_loading==1">Preparando
                Excel</span><i *ngIf="excel_loading==0" class="fas fa-file-excel" aria-hidden="true"></i></button>
            <button nbButton size="small" status="warning" (click)="exportar_excel('xlsx')" title="Exportar Excel"
              *ngIf="excel_listo==1"><span *ngIf="export_loading==0">Excel</span><span
                *ngIf="export_loading==1">Exportando</span></button>
            <button nbButton size="small" status="warning" (click)="exportar_excel('csv')" title="Exportar Csv"
              *ngIf="excel_listo==1"><span *ngIf="export_loading==0">Csv</span><span
                *ngIf="export_loading==1">Exportando</span></button>
            <button *ngIf="tiene_filtro==0" outline (click)="filtrosModal()" title="Filtros" nbButton size="small"
              status="success"><i class="fa fa-filter" aria-hidden="true"></i></button>
            <button *ngIf="tiene_filtro!=0" outline (click)="filtrosModal()" title="Filtros" nbButton size="small"
              status="warning"><i class="fa fa-filter" aria-hidden="true"></i></button>
            <span> {{cotizaciones.length}} de {{cantidad}} registro(s) encontrados. </span> <button nbButton
              size="small" status="success" type="button" (click)="agregar()"><i class="fa fa-plus"></i>
              Cotizacion</button>
          </div>
        </nb-card-header>
        <nb-card-body>
          <nb-tabset fullWidth="true" (changeTab)="changeLista($event)">
            <nb-tab tabindex="1" tabTitle="En Proceso">
              <div>
                <table class="table table-striped table-responsive">
                  <thead>
                    <th>ID</th>
                    <th *ngIf="user.id_perfil==3">Operador</th>
                    <th>Prospecto</th>
                    <th>Rut</th>
                    <th>{{etiquetas.item}}</th>
                    <th>Etapa</th>
                    <th>Estado</th>
                    <th>Prox. Llamada</th>
                    <th></th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of cotizaciones">
                      <td>{{obj.id_cotizacion}}</td>
                      <td *ngIf="user.id_perfil==3">{{obj.nombre_usuario_asignado}}</td>
                      <td>
                        {{obj.nombre_completo}}
                      </td>
                      <td>{{obj.rut}}</td>
                      <td>{{obj.glosa_item}}</td>
                      <td>{{obj.glosa_etapa}}</td>
                      <td>{{obj.glosa_estado}}</td>
                      <td>{{getDate(obj.fecha_agendamiento,'DD/MM/YYYY HH:mm')}}
                        <ng-container *ngFor="let accion of acciones">
                          <a (click)="gestionar(obj)" *ngIf="accion.id_accion == 2" class="text-primary"
                            title="Gestionar">
                            <i class="{{accion.icon}}" aria-hidden="true"></i>
                          </a>
                          <a *ngIf="obj.en_gestion!=null && accion.id_accion==8" (click)="desbloquear_gestion(obj)"
                            title="Desbloquear Cotizacion" class="text-warning"><i class="{{accion.icon}}"
                              aria-hidden="true"></i></a>
                        </ng-container>
                      </td>
                      <td>
                        <span *ngIf="obj.categoria == 1" class="badge badge-danger" data-toggle="tooltip"
                          data-placement="top" title="Vencida" style="cursor:default;">V</span>
                        <span *ngIf="obj.categoria == 2" class="badge badge-warning" data-toggle="tooltip"
                          data-placement="top" title="Nueva" style="cursor:default;">N</span>
                        <span *ngIf="obj.categoria == 3" class="badge badge-primary" data-toggle="tooltip"
                          data-placement="top" title="Futura" style="cursor:default;">F</span>
                        <span *ngIf="obj.id_estado == 6" class="badge badge-success" data-toggle="tooltip"
                          data-placement="top" title="Recordatorio" style="cursor:default;">RV</span>
                        <span *ngIf="obj.categoria == 4" class="badge badge-default" data-toggle="tooltip"
                          data-placement="top" title="Sin nueva gestion" style="cursor:default;">SNG</span>
                        - ({{obj.nro_gestiones ? obj.nro_gestiones : 0 }})
                      </td>
                      <td>
                        <ng-container *ngFor="let accion of acciones">
                          <a (click)="ver(obj)" *ngIf="accion.id_accion == 1" class="text-primary"
                            title="Ver Datos Gestion">
                            <i class="{{accion.icon}}" aria-hidden="true"></i>
                          </a>
                          <a (click)="despachos(obj)" title="Historial Despachos" *ngIf="accion.id_accion == 3"
                            class="text-warning"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="enviar_no_contacto(obj)" *ngIf="accion.id_accion==5" title="Correo No Contacto"
                            class="text-danger"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="showGestiones(obj)" *ngIf="accion.id_accion==6" title="Historial Gestiones"
                            class="text-info"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                        </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf=" !cotizaciones || cotizaciones.length<=0">
                      <td colspan="12">No se han encontrado resultados.</td>
                    </tr>
                  </tbody>
                </table>
                <div class="pagination-container">
                  <div class="container-title"></div>
                  <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina" [collectionSize]="cantidad"
                    [boundaryLinks]="true" [maxSize]="cantidad_pagina" [rotate]="true"
                    (pageChange)="cambio_pagina($event)"></ngb-pagination>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabindex="2" tabTitle="Agendamientos">
              <div>
                <table class="table table-striped table-responsive">
                  <thead>
                    <th>ID</th>
                    <th *ngIf="user.id_perfil==3">Operador</th>
                    <th>Prospecto</th>
                    <th>Campaña</th>
                    <th>{{etiquetas.sucursal}}</th>
                    <th>Ejecutivo Asignado</th>
                    <th>{{etiquetas.item}}</th>
                    <th>Etapa</th>
                    <th>Estado</th>
                    <th>Fecha Visita</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of cotizaciones">
                      <td>{{obj.id_cotizacion}}</td>
                      <td *ngIf="user.id_perfil==3">{{obj.nombre_usuario_asignado}}</td>
                      <td>{{obj.nombre_completo}}</td>
                      <td>{{obj.glosa_campania}}</td>
                      <td>{{obj.glosa_sucursal}}</td>
                      <td>{{obj.nombre_ejecutivo}}</td>
                      <td>{{obj.glosa_item}}</td>
                      <td>{{obj.glosa_etapa}}</td>
                      <td>{{obj.glosa_estado}}</td>
                      <td>{{getDate(obj.fecha_ultimo_agendamiento,'DD/MM/YYYY HH:mm')}}</td>
                      <td>
                        <ng-container *ngFor="let accion of acciones">
                          <a (click)="ver(obj)" *ngIf="accion.id_accion == 1" class="text-primary"
                            title="Ver Datos Gestion">
                            <i class="{{accion.icon}}" aria-hidden="true"></i>
                          </a>
                          <a (click)="recordar_visita(obj)" title="Recordar Visita" *ngIf="accion.id_accion==9"
                            class="text-success"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="despachos(obj)" title="Historial Despachos" *ngIf="accion.id_accion==3"
                            class="text-warning"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="showGestiones(obj)" title="Historial Gestiones" *ngIf="accion.id_accion==6"
                            class="text-info"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                        </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf=" !cotizaciones || cotizaciones.length<=0">
                      <td colspan="12">No se han encontrado resultados.</td>
                    </tr>
                  </tbody>
                </table>
                <div class="pagination-container">
                  <div class="container-title"></div>
                  <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina" [collectionSize]="cantidad"
                    [boundaryLinks]="true" [maxSize]="cantidad_pagina" [rotate]="true"
                    (pageChange)="cambio_pagina($event)"></ngb-pagination>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabindex="3" tabTitle="Terminada">
              <div>
                <table class="table table-striped table-responsive">
                  <thead>
                    <th>ID</th>
                    <th *ngIf="user.id_perfil==3">Operador</th>
                    <th>Prospecto</th>
                    <th>Campaña</th>
                    <th>{{etiquetas.sucursal}}</th>
                    <th>{{etiquetas.item}}</th>
                    <th>Etapa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of cotizaciones">
                      <td>{{obj.id_cotizacion}}</td>
                      <td *ngIf="user.id_perfil==3">{{obj.nombre_usuario_asignado}}</td>
                      <td>{{obj.nombre_completo}}</td>
                      <td>{{obj.glosa_campania}}</td>
                      <td>{{obj.glosa_sucursal}}</td>
                      <td>{{obj.glosa_item}}</td>
                      <td>{{obj.glosa_etapa}}</td>
                      <td>{{obj.glosa_estado}}</td>
                      <td>
                        <ng-container *ngFor="let accion of acciones">
                          <a (click)="ver(obj)" *ngIf="accion.id_accion == 1" class="text-primary"
                            title="Ver Datos Gestion">
                            <i class="{{accion.icon}}" aria-hidden="true"></i>
                          </a>
                          <a (click)="confirmar_duplicada(obj)" *ngIf="accion.id_accion==7" title="Duplicar Cotizacion"
                            class="text-warning"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="despachos(obj)" title="Historial Despachos" *ngIf="accion.id_accion==3"
                            class="text-warning"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                          <a (click)="showGestiones(obj)" title="Historial Gestiones" *ngIf="accion.id_accion==6"
                            class="text-info"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                        </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf=" !cotizaciones || cotizaciones.length<=0">
                      <td colspan="12">No se han encontrado resultados.</td>
                    </tr>
                  </tbody>
                </table>
                <div class="pagination-container">
                  <div class="container-title"></div>
                  <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina" [collectionSize]="cantidad"
                    [boundaryLinks]="true" [maxSize]="cantidad_pagina" [rotate]="true"
                    (pageChange)="cambio_pagina($event)"></ngb-pagination>
                </div>
              </div>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>