<nb-card>
    <nb-card-header>
        <span>{{ modalHeader }}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formReasigna" class="form-horizontal">
            <div class="form-group row">
                <label for="id_operador" class="col-sm-4 col-form-label">Operador
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <select class="form-control" formControlName="id_operador" required id="id_operador">
                        <option value="">Seleccione</option>
                        <option *ngFor="let ope of operadores" [(value)]="ope.id">{{ope.glosa}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="formReasigna.controls.id_operador.errors && formReasigna.controls.id_operador.dirty"
                class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton size="small" status="primary" [disabled]="!formReasigna.valid || lista_seleccionadas.length==0"
            (click)="reasignar()">Reasignar</button>
    </nb-card-footer>
</nb-card>


<!-- <div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="modal-body">
    <form [formGroup]="formReasigna" class="form-horizontal">
        <div class="form-group row">
                <label for="id_operador" class="col-sm-4 col-form-label">Operador
                    <span class="text text-danger">*</span>
                </label>
                <div class="input-group input-group-sm col-sm-8">
                    <select class="form-control" formControlName="id_operador" required id="id_operador">
                        <option value="">Seleccione</option>
                        <option *ngFor="let ope of operadores" [(value)]="ope.id">{{ope.glosa}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="formReasigna.controls.id_operador.errors && formReasigna.controls.id_operador.dirty" class="form-group row alert alert-danger">
                <label for="id_ejecutivo" class="col-sm-4 col-form-label"></label>
                <div class="input-group input-group-sm col-sm-8">El campo es Requerido</div>
            </div>
    </form>
  </div>
  <div class="modal-footer">
    <button nbButton status="primary" size="medium" [disabled]="!formReasigna.valid || lista_seleccionadas.length==0" (click)="reasignar()">Reasignar</button>
  </div> -->