<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar </nb-card-header>
                <nb-card-body>
                    <form [formGroup]="form">
                        <div class="form-group row">
                            <label for="dad" class="col-sm-6 col-form-label">Nivel 1 <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" name="dad" (change)="cambio_padre()" [(ngModel)]="dad"
                                    [ngModelOptions]="{standalone: true}" id="dad">
                                    <option value="null">Seleccione</option>
                                    <option *ngFor="let obj of padres" value="{{obj.id}}">{{obj.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="hijos.length>0">
                            <label for="child" class="col-sm-6 col-form-label">Nivel 2 <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" (change)="cambio_hijo()" name="child" [(ngModel)]="child"
                                    [ngModelOptions]="{standalone: true}" id="child">
                                    <option value="null">Seleccione</option>
                                    <option *ngFor="let obj of hijos" value="{{obj.id}}">{{obj.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="glosa_compro" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_compro" required
                                    id="glosa_compro" placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="form.controls.glosa_compro.errors && form.controls.glosa_compro.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="form.controls.activo.errors && form.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!form.valid" (click)="submit()"
                            type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>