<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Listado Campos Variables</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Fecha Creacion</th>
                                <th>Activo</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <!-- Anular campovariable -->
                                            <a class="text-danger"
                                                (click)="anular_campovariable[obj.id_campovariable] = 1"
                                                *ngIf="accion.id_accion==11 && anular_campovariable[obj.id_campovariable] != 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_campovariable[obj.id_campovariable] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary"
                                                (click)="anular_campovariable[obj.id_campovariable] = 0"
                                                *ngIf="accion.id_accion==11 && anular_campovariable[obj.id_campovariable] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar campovariable -->
                                            <a class="text-success"
                                                (click)="habilitar_campovariable[obj.id_campovariable] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_campovariable[obj.id_campovariable] != 1 && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_campovariable[obj.id_campovariable] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary"
                                                (click)="habilitar_campovariable[obj.id_campovariable] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_campovariable[obj.id_campovariable] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <a class="text-primary" (click)="ordenar(obj, lista)" title="Ordenar"
                                                *ngIf="accion.id_accion==15 && lista.length>1"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a></ng-container>
                                    </td>
                                    <td>{{obj.id_campovariable}}</td>
                                    <td>{{obj.glosa_campovariable}}</td>
                                    <td>{{obj.tipo=="A" ? "Abierto" : "Cerrada" }}</td>
                                    <td>{{getDate(obj.created_at,'DD/MM/YYYY HH:mm')}}</td>
                                    <td>{{obj.activo==1 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>