<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <form #formFiltros="ngForm" class="form-horizontal" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control input-sm" [(ngModel)]="form.id_tipo" name="id_tipo" required
                                    id="id_tipo">
                                    <option value="">Tipo</option>
                                    <option *ngFor="let obj of tipos" value="{{obj.id}}">{{obj.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group m-b-0">
                            <div class="col-xs-4">
                                <button status="success" nbButton size="small" type="submit">Buscar</button>
                                <!-- <button class="btn btn-secondary " nbButton size="small" type="button" (click)="limpiar_filtros()">Limpiar Filtro</button> -->
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-header>Plantillas</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span> <button status="success"
                            nbButton size="small" type="button" (click)="agregar()"><i class="fa fa-plus"></i>
                            Plantilla</button>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Fecha Creacion</th>
                                <th>Activo</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <!-- Anular usuarios -->
                                            <a class="text-danger" (click)="anular_email[obj.id_plantilla] = 1"
                                                *ngIf="accion.id_accion==11 && anular_email[obj.id_plantilla] != 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_email[obj.id_plantilla] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="anular_email[obj.id_plantilla] = 0"
                                                *ngIf="accion.id_accion==11 && anular_email[obj.id_plantilla] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar usuarios -->
                                            <a class="text-success" (click)="habilitar_email[obj.id_plantilla] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_email[obj.id_plantilla] != 1 && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_email[obj.id_plantilla] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="habilitar_email[obj.id_plantilla] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_email[obj.id_plantilla] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <a class="text-primary" (click)="ordenar(obj, lista)" title="Ordenar"
                                                *ngIf="accion.id_accion==15 && lista.length>1"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.id_plantilla}}</td>
                                    <td>{{obj.glosa_plantilla}}</td>
                                    <td>{{obj.glosa_tipo_email}}</td>
                                    <td>{{getDate(obj.created_at,'DD/MM/YYYY HH:mm')}}</td>
                                    <td>{{obj.activo==1 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <!-- <div class="col-md-4">
            <nb-card>
                <nb-card-header>Distribución Plantilla </nb-card-header>
                <nb-card-body>
                    <nb-card *ngFor="let obj of funciones">
                        <nb-card-header>{{obj.tipo.glosa_tipo_email}}</nb-card-header>
                        <nb-card-body>
                            <div class="form-group row">
                                <div class="input-group input-group-sm col-sm-12">
                                    <select class="form-control" [disabled]="editar_funcion==0" [(ngModel)]="obj.funcion['id_plantilla']" required id="id_plantilla">
                                        <option value="null">Seleccione</option>
                                        <option *ngFor="let plan of obj.plantillas" [(value)]="plan.id_plantilla">{{plan.glosa_plantilla}}</option>
                                    </select>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                    <nb-card>
                        <nb-card-body>
                            <button class="btn btn-success btn-round " nbButton size="small" *ngIf="editar_funcion==0" (click)="editar_funcion=1" type="button">Editar</button>
                            <button class="btn btn-success btn-round " nbButton size="small" *ngIf="editar_funcion==1" (click)="guardar_funciones()" type="button">Guardar</button>
                            <button class="btn btn-secondary btn-round " nbButton size="small" *ngIf="editar_funcion==1" (click)="editar_funcion=0" type="button">Cancelar</button>
                        </nb-card-body>
                    </nb-card>
                </nb-card-body>
            </nb-card>
        </div> -->
    </div>
</div>