<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Editar {{etiquetas.sucursal}}</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="formSucursal">
                        <div class="form-group row">
                            <label for="id_grupo_sucursal" class="col-sm-6 col-form-label">{{etiquetas.grupo_sucursal}}
                                <span class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_grupo_sucursal" required
                                    id="id_grupo_sucursal">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let gru of grupos" [(value)]="gru.id">{{gru.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.id_grupo_sucursal.errors && formSucursal.controls.id_grupo_sucursal.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_supervisor" class="col-sm-6 col-form-label">Jefe de {{etiquetas.sucursal}}
                                <span class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_supervisor" required
                                    id="id_supervisor">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let jef of jefes" [(value)]="jef.id">{{jef.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.id_supervisor.errors && formSucursal.controls.id_supervisor.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="glosa_sucursal" class="col-sm-6 col-form-label">Nombre <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="glosa_sucursal" required
                                    id="glosa_sucursal" placeholder="Nombre">
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.glosa_sucursal.errors && formSucursal.controls.glosa_sucursal.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_region" class="col-sm-6 col-form-label">Región <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" (change)="cambiar_region()" formControlName="id_region"
                                    required id="id_region">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let reg of regiones" [(value)]="reg.id">{{reg.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.id_region.errors && formSucursal.controls.id_region.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="id_comuna" class="col-sm-6 col-form-label">Comuna <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm col-sm-6">
                                <select class="form-control" formControlName="id_comuna" required id="id_comuna">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let com of comunas" [(value)]="com.id">{{com.glosa}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.id_comuna.errors && formSucursal.controls.id_comuna.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="direccion" class="col-sm-6 col-form-label">Dirección</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="direccion" id="direccion"
                                    placeholder="Dirección">
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.direccion.errors && formSucursal.controls.direccion.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="alias_excel" class="col-sm-6 col-form-label">Alias Carga Masiva</label>
                            <div class="input-group input-group-sm col-sm-6">
                                <input type="text" class="form-control" formControlName="alias_excel" id="alias_excel"
                                    placeholder="Alias Carga Masiva">
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.alias_excel.errors && formSucursal.controls.alias_excel.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                        <div class="form-group row">
                            <label for="activo" class="col-sm-6 col-form-label">Activa </label>
                            <div class="input-group input-group-sm col-sm-6">
                                <nb-checkbox formControlName="activo" status="success" class="col-sm-4"></nb-checkbox>
                            </div>
                        </div>
                        <div *ngIf="formSucursal.controls.activo.errors && formSucursal.controls.activo.dirty"
                            class="form-group row alert alert-danger">
                            <label for="" class="col-sm-6 col-form-label"></label>
                            <div class="input-group input-group-sm col-sm-6">El campo no es valido</div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" [disabled]="!formSucursal.valid"
                            (click)="submit()" type="submit">Guardar</button>
                        <button nbButton status="secondary" size="medium" (click)="salir_sin_guardar()">Salir Sin
                            Guardar</button>
                        <span>Los campos con ( * ) son obligatorios</span>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>