<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <!-- <button (click)="carga_listados()">Carga</button> -->
                    Asignación Plantillas de Correo
                    <button status="success" shape="round" nbButton size="small" (click)="guardar_asignacion()"
                        type="button">Guardar Asignación</button>
                </nb-card-header>
                <nb-card-body>
                    <nb-tabset fullWidth="true" style="overflow-x: auto">
                        <nb-tab tabindex="1" tabTitle="Funciones">
                            <nb-card>
                                <nb-card-body>
                                    <div class="form-group row" *ngFor="let obj of funciones">
                                        <div class="input-group input-group-sm col-sm-6">
                                            <label for="">{{obj.tipo.glosa_tipo_email}}</label>
                                        </div>
                                        <div class="input-group input-group-sm col-sm-6">
                                            <select class="form-control" [(ngModel)]="obj.funcion['id_plantilla']"
                                                required id="id_plantilla">
                                                <option value="null">Seleccione</option>
                                                <option *ngFor="let plan of obj.plantillas"
                                                    [(value)]="plan.id_plantilla">{{plan.glosa_plantilla}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </nb-tab>
                        <nb-tab tabindex="2" tabTitle="Estado" *ngIf="estados_visible==1">
                            <nb-card>
                                <nb-card-body>
                                    <div class="form-group row" *ngFor="let obj of estados">
                                        <div class="input-group input-group-sm col-sm-6">
                                            <label for="">{{obj.glosa_estado}}</label>
                                        </div>
                                        <div class="input-group input-group-sm col-sm-6">
                                            <select class="form-control" [(ngModel)]="obj.id_plantilla" required
                                                id="id_plantilla">
                                                <option value="null">Seleccione</option>
                                                <option *ngFor="let plan of plantillas_estados" [(value)]="plan.id">
                                                    {{plan.glosa}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </nb-tab>
                        <nb-tab tabindex="3" tabTitle="{{etiquetas.item}}" *ngIf="item_visible==1">
                            <nb-card>
                                <nb-card-body>
                                    <div class="form-group row" *ngFor="let obj of items">
                                        <div class="input-group input-group-sm col-sm-6">
                                            <label for="">{{obj.glosa_item}}</label>
                                        </div>
                                        <div class="input-group input-group-sm col-sm-6">
                                            <select class="form-control" [(ngModel)]="obj.id_plantilla" required
                                                id="id_plantilla">
                                                <option value="null">Seleccione</option>
                                                <option *ngFor="let plan of plantillas_items" [(value)]="plan.id">
                                                    {{plan.glosa}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </nb-tab>
                        <!-- <ng-container *ngFor="let obj of tabs; let $index = index">
                            <nb-tab tabindex="{{obj.tabTitle}}" tabTitle="{{obj.tabTitle}}">
                                <nb-card >
                                    <nb-card-body>
                                         <div class="form-group row" *ngFor="let obj of funciones">
                                            <div class="input-group input-group-sm col-sm-6">
                                                <label for="">{{obj.tipo.glosa_tipo_email}}</label>
                                            </div>
                                            <div class="input-group input-group-sm col-sm-6">
                                                <select class="form-control" [(ngModel)]="obj.funcion['id_plantilla']" required id="id_plantilla">
                                                    <option value="null">Seleccione</option>
                                                    <option *ngFor="let plan of obj.plantillas" [(value)]="plan.id_plantilla">{{plan.glosa_plantilla}}</option>
                                                </select>
                                            </div>
                                        </div> 
                                    </nb-card-body>
                                </nb-card>
                            </nb-tab>
                        </ng-container> -->

                    </nb-tabset>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>