<nb-card size="large">
    <nb-card-header>
        Filtros {{panel}}
    </nb-card-header>
    <nb-card-body>
        <form #formFiltros="ngForm" class="form-horizontal">
            <nb-tabset fullWidth="true" style="overflow-x: auto">
                <nb-tab tabindex="1" tabTitle="Datos Cotización">
                    <div class="row">
                        <div class="col-md-12 input-group">
                            <input class="form-control" (ngModelChange)="change_fecha_ini($event)"
                                [(ngModel)]="fecha_inicio" placeholder="yyyy-mm-dd" [autoClose]="true"
                                name="fecha_inicio" readonly ngbDatepicker #d_ini="ngbDatepicker"
                                [maxDate]="fecha_termino">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_ini.toggle()" type="button"><i
                                        class="far fa-calendar-alt"></i></button>
                            </div>
                            <input class="form-control" (ngModelChange)="change_fecha_fin($event)"
                                [(ngModel)]="fecha_termino" readonly placeholder="yyyy-mm-dd" [autoClose]="true"
                                name="fecha_termino" ngbDatepicker [minDate]="fecha_inicio" #d_fin="ngbDatepicker">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_fin.toggle()" type="button"><i
                                        class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control input-sm" [(ngModel)]="filtros.origen" name="filtros.origen">
                                <option value="">Origen</option>
                                <option *ngFor="let origen of origenes" [(value)]="origen.id">
                                    {{origen.glosa}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" [(ngModel)]="filtros.campania" name="campania">
                                <option value="" selected="selected">Campaña</option>
                                <option *ngFor="let campania of campanias" [(value)]="campania.id">
                                    {{campania.glosa}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <select multiple class="form-control input-sm" [(ngModel)]="filtros.item" name="item">
                                <!-- <option value="" selected="selected">{{etiquetas.item}}</option> -->
                                <option *ngFor="let item of items" [(value)]="item.id">{{item.glosa}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" [(ngModel)]="filtros.operador"
                                *ngIf="user.id_perfil==3" name="operador">
                                <option value="">Operador</option>
                                <option *ngFor="let op of operadores" [(value)]="op.id">{{op.glosa}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" [(ngModel)]="filtros.id_cotizacion"
                                name="id_cotizacion" placeholder="ID Cotizacion" />
                            <br>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" [(ngModel)]="filtros.sucursal" name="sucursal">
                                <option value="" selected="selected">{{etiquetas.sucursal}}</option>
                                <option *ngFor="let sucursal of sucursales" [(value)]="sucursal.id">
                                    {{sucursal.glosa}}</option>
                            </select>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabindex="2" tabTitle="Datos Proceso">
                    <div class="row">
                        <div class="col-md-12 input-group">
                            <input class="form-control" (ngModelChange)="change_ultima_gestion($event)"
                                [(ngModel)]="ultima_gestion" placeholder="Fecha Ultima Gestion" [autoClose]="true"
                                name="ultima_gestion" readonly ngbDatepicker #d_gestion="ngbDatepicker"
                                placement="bottom">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_gestion.toggle()"
                                    type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 input-group">
                            <input class="form-control" (ngModelChange)="change_primer_contacto($event)"
                                [(ngModel)]="primer_contacto" placeholder="Fecha Primer Contacto" [autoClose]="true"
                                name="primer_contacto" readonly ngbDatepicker #d_contacto="ngbDatepicker"
                                placement="bottom">
                            <div class="input-group-append">
                                <button nbButton size="medium" status="info" (click)="d_contacto.toggle()"
                                    type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control input-sm" [(ngModel)]="filtros.categoria" name="categoria">
                                <option value="">Categoria</option>
                                <option value="1">Vencidas</option>
                                <option value="2">Nuevas</option>
                                <option value="3">Futuras</option>
                                <option value="4">Otras</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control input-sm" [(ngModel)]="filtros.etapa" name="etapa">
                                <option value="" selected="selected">Etapa</option>
                                <option *ngFor="let etapa of etapas" [(value)]="etapa.id">{{etapa.glosa}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control input-sm" [(ngModel)]="filtros.estado" name="estado">
                                <option value="" selected="selected">Estado</option>
                                <option *ngFor="let estado of estados" [(value)]="estado.id">
                                    {{estado.glosa}}</option>
                            </select>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabindex="3" tabTitle="Datos Prospecto">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" [(ngModel)]="filtros.rut" name="rut"
                                placeholder="Rut" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" [(ngModel)]="filtros.nombre" name="nombre"
                                placeholder="Nombre" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" [(ngModel)]="filtros.apellido"
                                name="apellido" placeholder="Apellido" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" [(ngModel)]="filtros.emails" name="emails"
                                placeholder="Email" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" [(ngModel)]="filtros.telefonos"
                                name="telefonos" placeholder="Telefono" />
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton size="medium" status="success" (click)="submit()" type="submit">Buscar</button>
        <button nbButton size="medium" status="disabled" (click)="limpiar_filtros()">Limpiar Filtro</button>
    </nb-card-footer>
</nb-card>