<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <div class="row">
                        <div class="col-md-3">
                            Cotizacion ID: {{id_cotizacion}}
                        </div>
                        <div class="col-md-3">
                            <button nbButton size="small" status="primary" (click)="showGestiones()">Ver
                                Gestiones</button>
                        </div>
                        <div class="col-md-3">
                            <h6>Estado Actual</h6>
                            <p>{{cotizacion.glosa_estado}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Asesor Asignado</h6>
                            <p>{{cotizacion.nombre_usuario_asignado}}</p>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Origen o canal</h6>
                            <p>{{cotizacion.glosa_origen}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Campaña</h6>
                            <p>{{cotizacion.glosa_campania}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>{{etiquetas.item}} Cotizacion</h6>
                            <p>{{cotizacion.glosa_item}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>{{etiquetas.item}} Cotizacion Origen</h6>
                            <p>{{cotizacion.glosa_item_origen}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>{{etiquetas.sucursal}}</h6>
                            <p>{{cotizacion.glosa_sucursal=='' ? 'No asignada' : cotizacion.glosa_sucursal }}
                                {{cotizacion.nombre_ejecutivo=="" ? '' : '('+cotizacion.nombre_ejecutivo+')'}}</p>
                        </div>
                        <div class="col-md-3" style="word-break: break-all">
                            <h6>Comentario Prospecto</h6>
                            <p>{{cotizacion.comentario_cotizacion}}</p>
                        </div>
                        <div class="col-md-3" style="word-break: break-all">
                            <h6>Antecedentes</h6>
                            <p>{{cotizacion.antecedentes}}</p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <!-- formProspecto -->
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Datos Prospecto</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Rut</h6>
                            <p>{{prospecto.rut}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Nombre</h6>
                            <p>{{prospecto.nombre}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Apellido Paterno</h6>
                            <p>{{prospecto.apellido_paterno}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Apellido Materno</h6>
                            <p>{{prospecto.apellido_materno}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Email</h6>
                            <p *ngFor="let em of emails_prospecto">{{em}}</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Telefono</h6>
                            <p *ngFor="let tel of telefonos_prospecto">{{tel}}</p>
                        </div>
                        <div class="col-md-5">
                            <h6>Dirección</h6>
                            <p>{{prospecto.direccion}} {{prospecto.comuna ? ', '+prospecto.comuna : ''}}
                                {{prospecto.region ? ', '+prospecto.region : ''}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3" *ngFor="let campo of camposvariables">
                            <h6>{{campo.campo.glosa_campovariable}}</h6>
                            <p *ngIf="campo.campo.tipo=='A'">{{prospecto[campo.campo.identificador]}}</p>
                            <p *ngIf="campo.campo.tipo=='C'">
                                <ng-container *ngFor="let val of campo.lista">
                                    <div *ngIf="val.id_valor_variable==prospecto[campo.campo.identificador]">
                                        {{val.glosa_valor_variable}}</div>
                                </ng-container>
                            </p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div>
                        <button nbButton status="success" size="medium" (click)="salir_sin_guardar()">Salir</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>