<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>{{etiquetas.sucursal}}</nb-card-header>
                <nb-card-body>
                    <div class="col col-md-12">
                        <span>{{lista.length}} de {{cantidad}} registro(s) encontrados.</span>
                        <button status="success" nbButton size="small" type="button" (click)="agregar()"><i
                                class="fa fa-plus"></i> {{etiquetas.sucursal}}</button>
                        <hr>
                        <table class="table table-striped table-responsive" style="width: 100%">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>{{etiquetas.sucursal}}</th>
                                <th>Dirección</th>
                                <th>Grupo</th>
                                <th>Activo</th>
                                <th>Fecha Creacion</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of lista">
                                    <td width="10%">
                                        <ng-container *ngFor="let accion of acciones">
                                            <a class="text-success" (click)="asignar(obj)" title="Asignar Ejecutivos"
                                                *ngIf="accion.id_accion==10"><i class="fa fa-address-book"
                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" (click)="editar(obj)" title="Editar"
                                                *ngIf="accion.id_accion==10"><i class="{{accion.icon}}"
                                                    aria-hidden="true"></i></a>
                                            <!-- Anular lista -->
                                            <a class="text-danger" (click)="anular_sucursal[obj.id_sucursal] = 1"
                                                *ngIf="accion.id_accion==11 && anular_sucursal[obj.id_sucursal] != 1 && obj.activo == 1"
                                                title="Anular"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="anular(obj)"
                                                *ngIf="accion.id_accion==11 && anular_sucursal[obj.id_sucursal] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="anular_sucursal[obj.id_sucursal] = 0"
                                                *ngIf="accion.id_accion==11 && anular_sucursal[obj.id_sucursal] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <!-- Habilitar lista -->
                                            <a class="text-success" (click)="habilitar_sucursal[obj.id_sucursal] = 1"
                                                *ngIf="accion.id_accion==11 && habilitar_sucursal[obj.id_sucursal] != 1 && obj.activo == 0"
                                                title="Habilitar"><i class="{{accion.icon}}" aria-hidden="true"></i></a>
                                            <a class="text-warning" (click)="habilitar(obj)"
                                                *ngIf="accion.id_accion==11 && habilitar_sucursal[obj.id_sucursal] == 1"
                                                title="Confirmar"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="text-secondary" (click)="habilitar_sucursal[obj.id_sucursal] = 0"
                                                *ngIf="accion.id_accion==11 && habilitar_sucursal[obj.id_sucursal] == 1"
                                                title="Cancelar"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            <a class="text-primary" (click)="ordenar(obj, lista)" title="Ordenar"
                                                *ngIf="accion.id_accion==15 && lista.length>1"><i
                                                    class="{{accion.icon}}" aria-hidden="true"></i></a>
                                        </ng-container>
                                    </td>
                                    <td>{{obj.id_sucursal}}</td>
                                    <td>{{obj.glosa_sucursal}}</td>
                                    <td>{{obj.direccion}}</td>
                                    <td>{{obj.grupo_sucursal}}</td>
                                    <td>{{obj.activo==1 ? 'Si' : 'No'}}</td>
                                    <td>{{getDate(obj.created_at,'DD/MM/YYYY HH:mm')}}</td>
                                </tr>
                                <tr *ngIf=" !lista || lista.length<=0">
                                    <td colspan="7">No se han encontrado resultados.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [(page)]="pagina_actual" [pageSize]="cantidad_pagina"
                            [collectionSize]="cantidad" [boundaryLinks]="true" [maxSize]="cantidad_pagina"
                            [rotate]="true" (pageChange)="cambio_pagina($event)"></ngb-pagination>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>